<div class="devise_page">
  <div class="title_line">
    <div class="right">
      <%= link_to "Login", new_user_session_path %>
     </div>
    <div class="title">Password recovery</div>
  </div>
<div class="login_page">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <div class="item">
      <label>E-mail specified at registration</label>
      <div class="field">
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
    </div>
    
    <div class="buttons">
      <%= f.submit "Resend confirmation instructions", class: "button button_green" %>
      <div class="links">
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      </div>
    </div>
    <% end %>
  </div>
</div>