<div class="devise_page">
  <div class="title_line">
    <div class="right">
      <%= link_to "Sign In", new_user_session_path %>
     </div>
    <div class="title">Account settings</div>
  </div>
<div class="login_page">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "new_user", html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="item">
      <label for="user_email">E-mail</label>
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "E-mail" %>
      </div>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
    <div class="item">
    <label>Password</label><i>(leave blank if you don't want to change it)</i><br />
    <div class="field">
      <%= f.password_field :password, autocomplete: "off" %> 
    </div>
    </div>
    <div class="item">
      <label>Password again</label>
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>
    <div class="item">
      <label>Current Password</label>
      <div class="field">
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
    </div>
    
    <div class="buttons">
      <%= f.submit "Update", class: "button button_green" %>
      <div class="links">
        <%= link_to "Back", :back %>  
      </div>
    </div>
    <% end %>
  </div>
  </div>
