<div class="devise_page">
  <div class="title_line">
    <div class="right">
      <%= link_to "Sign In", new_user_session_path %>
    </div>
    <div class="title"><%= t :title_registration %></div>
  </div>
  <div class="login_page">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                 html: { class: "new_user"} ) do |f| %>
      <%= devise_error_messages! %>
      <div class="item">
        <%= f.label :email, 'E-mail' %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "E-mail" %>
        </div>
      </div>
      <div class="item">
        <%= f.label :username, "#{t :nickname}" %>
        <div class="field">
          <%= f.text_field :username, placeholder: "#{t :nickname}" %>
        </div>
      </div>
      <div class="item">
        <label><%= "#{t :password}" %></label>
        <div class="field">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", placeholder: "#{t :password}" %>
        </div>
      </div>
      <div class="item">
        <label><%= "#{t :password_again}" %></label>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "#{t :password_again}" %>
        </div>
      </div>
      <div class="buttons">
        <%= f.submit "#{t :sign_up}", class: "button button_green" %>
        <div class="links">
          <%= link_to "#{t :new_password}", new_password_path(resource_name) %>
          <%= link_to "#{t :new_confirmation}", new_confirmation_path(resource_name) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
