$('form#new_comment').on('ajax:success', function (e) {
  e.preventDefault();
  response_id = $(this).data('newCommId');
  $('.comments-' + response_id).html('<%=j render 'projects/comments' %>');
  $('#comment_body').val('');
});
$('.comments').html('<%=j render 'projects/comments' %>');
