body{
  display:block;
  box-sizing:border-box;
  /*padding:10px 15px;*/
  /*width:100%;*/
  /*height:40px;*/
  border:0px solid transparent;
  border-radius:4px;
  background-color:#e0e6e7;
  box-shadow:none;
  color:#48525b;
  vertical-align:middle;
  /*font-size:14px;*/
  line-height:1.5;
  -webkit-transition:all ease-in-out .15s;
  transition:all ease-in-out .15s
}
body:focus{
  outline:none;
  border:0px solid #c6d3d5;
  background-color:#fff
}
