/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
/* line 8, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 18, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
/* line 31, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 50, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 61, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 70, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
/* line 79, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 92, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 102, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 115, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 125, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 134, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 143, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 152, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 161, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 170, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 179, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 187, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 191, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 202, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 210, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 222, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
/* line 234, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 243, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 257, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
/* line 269, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 278, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 288, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 299, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 310, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 322, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 333, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 346, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 359, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 368, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 378, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 388, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
/* line 397, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
/* line 406, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 416, /home/art/freelance-de/app/assets/stylesheets/lib/normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* line 1, /home/art/freelance-de/app/assets/stylesheets/auth/global.scss */
body {
  background: url(/assets/auth_page/bg-73a61268e399a5c67346f3b2e85a8f044afe3bb5e4768bbfdbd126663661e3c8.png) #414141 repeat 0 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  min-width: 430px;
}

/* line 8, /home/art/freelance-de/app/assets/stylesheets/auth/global.scss */
html.turbolinks-progress-bar::before {
  background-color: #4abfb4 !important;
  height: 5px !important;
}

/* line 14, /home/art/freelance-de/app/assets/stylesheets/auth/global.scss */
a:link, a:visited {
  text-decoration: none;
}
/* line 17, /home/art/freelance-de/app/assets/stylesheets/auth/global.scss */
a:hover {
  text-decoration: underline;
}

/* line 22, /home/art/freelance-de/app/assets/stylesheets/auth/global.scss */
.devise_page {
  position: relative;
}
/* line 25, /home/art/freelance-de/app/assets/stylesheets/auth/global.scss */
.devise_page .title_line {
  border-bottom: 1px solid #B3BCC9;
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-align: left;
}
/* line 31, /home/art/freelance-de/app/assets/stylesheets/auth/global.scss */
.devise_page .title_line .title {
  font-size: 18px;
  color: #394656;
  font-weight: bold;
  display: inline-block;
}
/* line 38, /home/art/freelance-de/app/assets/stylesheets/auth/global.scss */
.devise_page .title_line .right {
  padding-top: 3px;
  float: right;
  font-size: 14px;
}
/* line 42, /home/art/freelance-de/app/assets/stylesheets/auth/global.scss */
.devise_page .title_line .right a {
  font-size: 18px;
  line-height: 18px;
  color: #394656;
}

/* line 51, /home/art/freelance-de/app/assets/stylesheets/auth/global.scss */
.lang-switch {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* line 55, /home/art/freelance-de/app/assets/stylesheets/auth/global.scss */
.lang-switch .flag {
  width: 24px;
  height: 14px;
  text-decoration: none;
  text-indent: -9999999px;
  display: block;
}
/* line 62, /home/art/freelance-de/app/assets/stylesheets/auth/global.scss */
.lang-switch .en {
  background: url(/assets/flags-s8fa545a474-dcaca7ebf5166e70bdcebdc067525c790f1b13f2b78b85c0576f0728de79d0ad.png) 0 -14px;
}
/* line 65, /home/art/freelance-de/app/assets/stylesheets/auth/global.scss */
.lang-switch .de {
  background: url(/assets/flags-s8fa545a474-dcaca7ebf5166e70bdcebdc067525c790f1b13f2b78b85c0576f0728de79d0ad.png) 0 0;
}

/* line 1, /home/art/freelance-de/app/assets/stylesheets/auth/logo.scss */
.layout {
  width: 410px;
  margin: 40px auto 80px;
}
/* line 4, /home/art/freelance-de/app/assets/stylesheets/auth/logo.scss */
.layout .logo {
  display: block;
  width: 410px;
  height: 130px;
  margin: auto;
  color: #fff;
  text-decoration: none;
  line-height: 1;
}
/* line 12, /home/art/freelance-de/app/assets/stylesheets/auth/logo.scss */
.layout .logo h1 {
  font-size: 75px;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
}
/* line 17, /home/art/freelance-de/app/assets/stylesheets/auth/logo.scss */
.layout .logo h2 {
  font-size: 24px;
  font-family: 'Rubik', sans-serif;
  margin: 0;
}
/* line 24, /home/art/freelance-de/app/assets/stylesheets/auth/logo.scss */
.layout .block {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
}

/* line 1, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form {
  text-align: left;
}

/* line 5, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .single_description {
  color: #8f8f8f;
  font-size: 12px;
  display: block;
  margin-top: 2px;
}

/* line 12, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .item {
  margin-bottom: 20px;
}

/* line 16, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .item label {
  color: #B3BCC9;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

/* line 23, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .item .field {
  display: block;
  color: #B3BCC9;
  font-size: 12px;
}
/* line 28, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .item .field .field_with_errors input {
  border-color: #a94442 !important;
  background-color: #ebcccc !important;
}

/* line 35, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .item .field input[type="text"],
.devise_page form .item .field input[type="email"],
.devise_page form .item .field input[type="password"] {
  border: 1px solid #edeef2;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.3);
  padding: 0;
  margin: 0;
  line-height: 30px;
  height: 30px;
  text-indent: 5px;
  width: 348px;
  background: #fff;
  font-size: 14px;
  color: #555e6c;
}
/* line 49, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .item .field input[type="text"]:focus,
.devise_page form .item .field input[type="email"]:focus,
.devise_page form .item .field input[type="password"]:focus {
  border-color: #455565;
}

/* line 54, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .item .field .validation-error {
  color: #ef7f7f;
}

/* line 58, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .buttons .button {
  font-family: 'Montserrat Alternates', sans-serif;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 16px;
  border-radius: 5px;
  background-color: #e0e2e5;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  height: 37px;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

/* line 79, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .buttons .button[disabled] {
  opacity: 0.65;
  pointer-events: none;
}

/* line 84, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .buttons .button_green {
  background-color: #4abfb4;
}
/* line 86, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .buttons .button_green:hover, .devise_page form .buttons .button_green:focus, .devise_page form .buttons .button_green:active {
  background-color: #389e94;
}

/* line 90, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .buttons .button_google {
  background-color: #de4c34;
  align-self: center;
}
/* line 94, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .buttons .button_google:hover, .devise_page form .buttons .button_google:focus, .devise_page form .buttons .button_google:active {
  background-color: #c0361f;
}

/* line 98, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .buttons .button_facebook {
  background-color: #3b5998;
}
/* line 100, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .buttons .button_facebook:hover, .devise_page form .buttons .button_facebook:focus, .devise_page form .buttons .button_facebook:active {
  background-color: #2d4373;
}

/* line 104, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .buttons .button_twitter {
  background-color: #45b0e3;
}
/* line 106, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .buttons .button_twitter:hover, .devise_page form .buttons .button_twitter:focus, .devise_page form .buttons .button_twitter:active {
  background-color: #209bd5;
}

/* line 111, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .buttons .links {
  padding-top: 10px;
  font-size: 12px;
}

/* line 116, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.devise_page form .buttons .links a {
  color: #B3BCC9;
  margin-right: 5px;
  font-family: 'Rubik', sans-serif;
}

/* line 122, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.alert {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 15px;
  text-align: left;
  font-size: 14px;
}
/* line 129, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.alert ul {
  margin: 0;
  padding-left: 20px;
}

/* line 135, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.alert-danger, .alert-alert {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

/* line 141, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

/* line 147, /home/art/freelance-de/app/assets/stylesheets/auth/form.scss */
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}
