<%= form_for @portfolio, controller: 'portfolio', action: 'update' do |f| %>
<div id="myModal-edit" class="modal-edit">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <!-- <%= link_to :back, data: { turbolinks: false } do %> -->
        <span class="close" onClick="history.go(0)">×</span>
      <!-- <% end %> -->
      <h2>My projects</h2>
    </div>
    <div class="modal-body">
      <table id="doc_for_portfolio" data-docid="<%= Portfolio.last.id+1 %>">
        <tr class="table__row">
          <td>
          <label>Project title</label>
          <%= f.text_field :title, validate: true, class: 'form-control' do %>
            <small class="field__counter">70</small>
          <% end %>
          </td>
          <td>
            <label>Category</label>
            <div class="menu " id="selector_links">
              <%= f.collection_select :category_id, Category.all, :id, :name, {}, { class: 'form-control'} %>
            </div>
          </td>
        </tr>
        <tr class="table__row">
          <td>
            <label>Project URL</label>
            <%= f.text_field :project_url, validate: false, class: 'form-control'%>
          </td>
          <td>
            <label>Completion date</label>
            <%= f.text_field :completion_date, class: 'birthday1 form-control' %>
          </td>
        </tr>
      </table>
      <table>
        <tr class="table__row">
          <td>
            <%= f.label :description do %>
              Description:
              <span class="required">*</span>
            <% end %>
            <div class="field">
              <%= f.cktext_area :description, :"data-no-turbolink" => true, id: 'ckeditor_modal_m', ckeditor: { toolbar: 'mini', height: '200px'} %>
            </div>
            <script>
              CKEDITOR.replace('ckeditor_modal_m');
            </script>
          </td>
        </tr>
        <tr class="table__row">
          <!-- <td>
            <div>
              <%= link_to_add_association 'add file', f, :documents, class: "add_assotiation", id: "link_to_association"%>
            </div>
          </td> -->
        </tr>
        <td>
        </div>
        <ul class="files-list files-list_form">
          <% @portfolio.documents.each do |document| %>
            <li class="files-list__item files-list__item_success" id="<%= dom_id(document) %>">
              <div class="files-list__show"></div>
                <%= link_to document.attachment.name, document.attachment.url, class: 'files-list__link' %>
                <%= link_to "Delete", document_path(document), class: 'files-list__delete', remote: true,  method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
            </li>
          <% end %>
        </ul>
      </div>
        </td>
      </table>
    </div>
    <div class="modal-footer">
      <div class="form-fields" id="btn_modal">
        <%= f.submit "submit", class: 'btn_green' %>
        <button type="button" name="button" id="cancel" class="btn_red" onClick="history.go(0)">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>
