<div id="myModal" class="modal-edit">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <!-- <%= link_to :back, data: { turbolinks: false } do %> -->
        <span class="close" onClick="history.go(0)">×</span>
      <!-- <% end %> -->
      <h2>
         <%= @portfolio.title %>
      </h2>
    </div>
    <div class="modal-body">
      <div class="field">
        <label>Category:</label><br>
        <%= Category.find(@portfolio.category_id).name %>
      </div>
      <div class="field">
        <label>Description:</label>
        <%= simple_format(@portfolio.description) %>
      </div>
      <% if !@portfolio.project_url.blank? %>
        <div class="field">
          <label>Project URL:</label><br>
          <%= @portfolio.project_url %>
        </div>
      <% end %>
      <% if !@portfolio.completion_date.blank? %>
        <div class="field">
          <label>Completion date:</label><br>
          <%= @portfolio.completion_date %>
        </div>
      <% end %>
      <table>
        <tr class="table__row">
          <label>Files:</label>
          <td class="gallery_portfolio">
            <% if @portfolio.documents!=0 %>
              <!-- <label for="anyfile_item">Files</label> -->
                <% @portfolio.documents.each do |document| %>
                  <%= link_to document.attachment.url,  data: { lightbox: "gallery", title: document.title  }, class: "link_gallery" do %>
                    <%= image_tag(document.attachment.url, :alt => "img for gallery", class: 'img_for_gallery') %>
                  <% end %>
                <% end %>
            <% end %>

            <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'true' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'true' %>

          </td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <div class="form-fields" id="btn_modal">
        <!-- <button class="btn_red" data-dismiss="modal" aria-hidden="true" id="cancel">Close</button> -->
        <button type="button" name="button" id="cancel" class="btn_red" onClick="history.go(0)">Close</button>
        <!-- <%= link_to "Close", :back, data: { turbolinks: false }, class: "btn_red", id: "cancel" %> -->
      </div>
    </div>
  </div>
</div>
