<div class="devise_page">
  <h2>Change your password</h2>

  <div class="login_page">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <div class="item">
        <%= f.label :password, "New password" %><br />
        <div class="field">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
        </div>
      </div>
    <div class="item">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>
    <div class="buttons">
      <%= f.submit "Change my password", class: "button button_green" %>
    </div>
    <% end %>
  </div>
</div>
