<div class="avatar_user_panel">
  <%= link_to freelancer_path(current_user.freelancer.friendly_id), class: "user-panel__avatar active" do %>
    <%= avatar_for current_user.freelancer.photo %>
  <% end %>
</div>
<div class="user-panel__side">
  <%= link_to current_user.username, freelancer_path(current_user.freelancer.friendly_id), class: "user-panel__user-name" %>
  <span class="btn_drop icon_arrow_up" role="expand_menu_trigger" onclick="showHide('user_panel__menu_id')"></span>
</div>
