<% if object.errors.any? %>
  <h2><%= pluralize(object.errors.count, "error") %> were found:</h2>

  <div class="field_error">
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>