<footer class='layout__footer'>
<div class='column_main'>
<div class='page'>
<ul class='menu menu_horizontal menu_footer'>
<li class='menu__item'>
  <%= link_to 'About', about_path, class: "link", data: { turbolinks: false } %>
</li>
<li class='menu__item'>
  <%= link_to 'List of changes', changeslog_path, class: "link", data: { turbolinks: false } %>
</li>
<li class='menu__item'>
  <%= link_to 'Help', help_path, class: "link", data: { turbolinks: false } %>
</li>
<li class='menu__item'>
<%= link_to 'Contact us', feedback_path, class: "link", data: { turbolinks: false } %>
</li>
<li class='menu__item menu__item_right'>
<a class="link" target="_blank" href="#">Text</a>
</li>
</ul>
</div>
</div>
<div class='column_sidebar column_sidebar_footer'>
    <ul class='icons-bar icons-bar_socials'>
        <li class='icons-bar__item'>
          <a class="icons-bar__icon icon_fb" title="Facebook" href="#" data-turbolinks="false"></a>
        </li>
        <li class='icons-bar__item'>
          <a class="icons-bar__icon icon_tw" title="Twitter" href="#" data-turbolinks="false"></a>
        </li>
    </ul>

<div class='copyright'>
&copy;
<a target="_blank" href="#">Freelance-DE</a>
</div>
</div>

<img class='footer__pix' src=''>
</footer>
