<% content_for(:above_main) do %>
  <header class="column_wrap column_header">
    <div class="column_main">
      <h1 class="page-title"><%= text %></h1>
    </div>
    <div class="column_sidebar">
      <% if current_user && !current_user.freelancer.intro %>
        <%= link_to "#{t :new_project}", intro_path, class: 'btn_blue icon_pen' %>
      <% else %>
        <%= link_to "#{t :new_project}", new_project_path, class: 'btn_blue icon_pen' %>
      <% end %>
    </div>
  </header>
<% end %>
