<aside class='layout__navbar' id='navbar'>
  <div class='logo_wrap'>
    <%= link_to 'FlMarkt', root_path, class:"logo" %>
  </div>
  <div class='tabs tabs_vertical'>
    <div class='tabs__menu'>
      <% if user_signed_in? %>
        <%= render 'shared/user_panel' %>
      <% else %>
        <div class='user-panel' role='user_expand_menu'>
          <div class='user-panel_head user-panel_head_login'>
            <%= link_to "#{t :sign_in}", new_user_session_path, class: "menu__link menu__link_login icon_settings_keys" %>
          </div>
        </div>
      <% end %>
      <ul class='menu'>
        <li class='menu__item'>
          <%= link_to "#{t :orders}", projects_path, class: "menu__link link icon_tasks menu__link_active" %>
        </li>
        <li class='menu__item'>
          <%= link_to 'Freelancers', freelancers_path, class: "menu__link link icon_freelancers" %>
        </li>
      </ul>
      <% unless user_signed_in? %>
        <section class='promo-block promo-block_sticky-bottom'>
          <h3 class='promo-block__title'>Freelance&nbsp;&mdash; <br/> Service for IT </h3>
          <p class='promo-block__desc'>
            Respond to an interesting order or find the artist for the project.
          </p>
          <%= link_to "#{t :sign_up}", new_user_registration_path, class: "btn btn_blue" %>
        </section>
      <% end %>
    </div>
  </div>

</aside>