<ul class="menu menu_user-settings">
  <li class="menu__item">
    <%= link_to t('profile'), @freelancer, class: "menu__link link icon_settings_account"%>
  </li>
  <li class="menu__item">
    <%= link_to "Account", edit_user_registration_path, class: "menu__link link icon_settings_account"%>
  </li>
  <li class="menu__item">
    <a class="menu__link link icon_settings_delivery menu__link_active" href="/"><%= t('subscribe') %></a>
  </li>
</ul>
