<div class='search-suggest'>
  <form id="search_items" action="" accept-charset="UTF-8" method="get">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input type="text" name="q" id="q" size="60" class="search-suggest___field" placeholder="Search..." />
    <i class='search-suggest__icon icon_search'></i>
  </form>
</div>
