<div class="user-panel user-panel_expand" role="user_expand_menu">
  <div class="user-panel_head">
    <%= render 'shared/avatar_user' %>
  </div>
  <div class="user-panel__menu" style="height: 240px;"  id="user_panel__menu_id">
    <ul class="menu menu_navbar" role="expand_menu_dropdown">
      <li class="menu__item">
        <%= link_to "#{t :my_orders}", project_user_projects_path, class: "menu__link link icon_tasks" %>
      </li>
      <li class="menu__item">
        <%= link_to "#{t :my_responses}", my_responses_path, class: "menu__link link icon_responses" %>
      </li>
      <li class="menu__item">
        <%= link_to "#{t :settings}", edit_freelancer_path(current_user.freelancer.friendly_id), class: "menu__link icon_settings" %>
      </li>
      <li class="menu__item">
        <%= link_to "#{t :log_out}", destroy_user_session_path, method: :delete, class: "menu__link link icon_logout" %>
      </li>
    </ul>

  </div>
</div>
