<% @response.comments.each do |comment|%>
  <% if comment.user_id != @response.freelancer_id %>
  <li class="comments-list__item comments-list__item_author">
    <div class="avatar_comment">
      <figure class="user__avatar user__avatar_r50">
        <%= avatar_for @response.project.user.freelancer.photo %>
      </figure>
    </div>
    <div class="comment_wrap">
      <div class="comment">
        <div class="comment__header">
          <%= link_to freelancer_path(comment.user_id), :class => "user__name user__name_link" do%>
            <%= @response.project.user.freelancer.first_name %>
          <%end%>
          <span class="date_publish">
            <%=distance_of_time_in_words(DateTime.now.to_i-comment.created_at.to_i)%> ago
          </span>
        </div>
        <div class="comment__body">
          <%= comment.body %>
        </div>
      </div>
    </div>
  </li>
  <% else %>
  <li class="comments-list__item comments-list__item_freelancer">
    <div class="avatar_comment">
      <figure class="user__avatar user__avatar_r50">
        <%= avatar_for @response.freelancer.photo %>
      </figure>
    </div>
    <div class="comment_wrap">
      <div class="comment">
        <div class="comment__header">
          <%= link_to freelancer_path(comment.user_id), :class => "user__name user__name_link" do%>
            <% @response.freelancer.first_name %>
          <%end%>
          <span class="date_publish">
            <%=distance_of_time_in_words(DateTime.now.to_i-comment.created_at.to_i)%> ago
          </span>
        </div>
        <div class="comment__body">
          <%= comment.body %>
        </div>
      </div>
    </div>
  </li>
  <%end%>
<% end %>
