<div class="nested-fields">


  <%= form_for(Document.new, html: { multipart: true, class: "dropzone"}) do |a|  %>
    <div class="fallback">
      <%= f.file_field :attachment %><br>
    </div>
  <% end %>
</div>
<br>
