<div class="new-response">
  <div class="response-list response-list_tasks">
    <div class="response-list__header">
      <span class="response-list__title">
        Your offer
      </span>
    </div>
    <%= form_for [project, response], remote: true, class: 'form_response' do |f| %> 
      <div class="field">
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <%= f.submit "Send", class: 'btn_green' %>  
    <% end %>
  </div>
</div>