<div class="layout-block layout-block_dark">
  <div class="layout-block__title icon_hantim_alert">
    Freelance for orders
  </div>
  <div class="layout-block__desc">
    Please do not post vacancy in orders.
  </div>
</div>