<div class='layout-block_bordered'>
  <dl class='user-params'>
    <dt class='user-params__property'>
      Client
    </dt>
    <dd class="user-params__value" id="js-contacts">
      <ul class="list list_contacts">
        <% unless @freelancer.site.blank? %>
          <li class="list__item">
           <%= link_to @freelancer.site, url_with_protocol(@freelancer.site), class: "site", target: '_blank' %>
          </li>
        <% end %>
        <li class="list__item">
         <%= mail_to @project.user.email, @project.user.email, html_options: { class: "link_mail" } %>
        </li>
        <% unless @freelancer.phone.blank? %>
        <li class="list__item">
          <div class="user__phone" >
            <%= @freelancer.phone %>
          </div>
        </li>
        <% end %>
      </ul>
    </dd>
  </dl>
</div>
<% unless @project.user.freelancer.links.blank? %>
  <div class="layout-block_bordered">
    <dl class="user-params">
    <dt class="user-params__property">Messengers</dt>
    <dd class="user-params__value">
    <ul class="list"  style="display:inline-flex">
      <% @project.user.freelancer.links.select {|link| ['Skype'].include? link.messenger_type.title }.each do |link| %>
        <li class="list__item data">
          <div class="user__socials-links" style="margin-left:10px;">
            <ul class="icons-bar icons-bar_socials icons-bar_socials_profile">
              <li class="icons-bar__item" style="width:35px;height:35px;">
                <%= link_to link.url, url_for("skype:"+link.url+'?chat'), class: "icons-bar__icon icon_messenger_#{link.messenger_type.title.downcase}", style: "width:35px;height:35px;border-radius:0;" %>
              </li>
            </ul>
          </div>
        </li>
     <% end %>
     <% @project.user.freelancer.links.select {|link| ['FacebookMessenger'].include? link.messenger_type.title }.each do |link| %>
       <li class="list__item data">
        <!-- <a href="whatsapp://send?abid=username&text=Hello%2C%20World!">whatsapp</a> -->
         <div class="user__socials-links" style="margin-left:10px;">
           <ul class="icons-bar icons-bar_socials icons-bar_socials_profile">
             <li class="icons-bar__item" style="width:35px;height:35px;">
               <%= link_to link.url, url_for("https://m.me/"+link.url), class: "icons-bar__icon icon_messenger_#{link.messenger_type.title.downcase}", :target => "_blank", style: "width:35px;height:35px;border-radius:0;" %>
             </li>
           </ul>
         </div>
       </li>
    <% end %>
    <% @project.user.freelancer.links.select {|link| ['WhatsApp'].include? link.messenger_type.title }.each do |link| %>
      <li class="list__item data">
        <div class="user__socials-links" style="margin-left:10px;">
          <ul class="icons-bar icons-bar_socials icons-bar_socials_profile">
            <li class="icons-bar__item" style="width:35px;height:35px;">
              <%= link_to link.url, url_for('whatsapp://send?abid='+link.url+'&text=Hello'), class: "icons-bar__icon icon_messenger_#{link.messenger_type.title.downcase}", :targer => "_blank", style: "width:35px;height:35px;border-radius:0;" %>
            </li>
          </ul>
        </div>
      </li>
   <% end %>
    </ul>
    </dd>
    </dl>
  </div>
<% end %>
