<tbody>
<tr class="table__row">
  <td class="table__cell_status">
  </td>
  <td class="task task_column">
    <% if !project.archive %>
      <div class="task__title">
        <%= link_to project.title, project %>
      </div>
    <% else %>
      <div class="task__title">
        <%= project.title %>
      </div>
    <% end %>
    <div class="task__params params">
      <span class="has_performer">
        <%= project.state_machine.current_state %>
      </span>
  <span class="params__price">
    <% if !project.price.blank? %>
      <%= project.price %>&nbsp;euro&nbsp;for&nbsp;<%= project.price_category %>
    <% else %>
      <span class="negotiated_price">Negotiated price</span>
    <% end %>
  </span>
  <span class="params__published-at icon_task_publish_at" title="Order date">
    ~<%= distance_of_time_in_words(DateTime.now.to_i-project.created_at.to_i) %> ago
  </span>
    </div>
  </td>
  <td class="table__cell_comments-count icon_task_responses">
    <%= project.impressions.count %>
  </td>
  <td class="table__cell_views-count icon_task_views">
    <%= project.responses.count %>
  </td>

  <td class="table__cell_settings">
    <% if project.state_machine.current_state == 'completed' %>
      <div style="margin-right:10px">
        <span class="statesman-<%= project.state_machine.current_state%>">
          <%= project.state_machine.current_state %>
        </span>
      </div>
    <% elsif %>
      <div class="dropdown">
        <div class="dropbtn" data-dropid="<%=project.id%>">
          <span class="icon_settings_bordered">
          </span>
        </div>
        <div id="myDropdown-<%=project.id%>" class="dropdown-content">
                <% if !project.archive %>
                  <%= link_to "Archive", projects_archive_path(@project, :id => project.id)%>
                <% else %>
                  <%= link_to "Restore", projects_archive_path(@project, :id => project.id)%>
                <% end %>
                <%= link_to "Edit", edit_project_path(project)%>
                <% if !project.archive %>
                  <%= link_to "Finish", project_path(project),   method: :delete, data: { confirm: 'Are you sure you want to finish this project?' } %>
                <% end %>
        </div>
      </div>
    <% end %>
  </td>
</tr>
</tbody>
