<div class="response-list response-list_tasks">
  <div class="task__message">
      <span class="icon_signin_ntf">
        <%= link_to "Sign in", new_user_session_path %>
        or
        <%= link_to "Sign up", new_user_registration_path %>,
          to respond to orders
        </span>
  </div>
</div>
