<ul class="tabs-menu tabs-menu_sub_open" role="tabs">
  <li class="tabs-menu__item" id="tab_all">
    <a class="tabs-menu__link link_active" role="tabs_link" data-remote="true" href="/tasks/142270/task_comments">Responses
      <span class="tabs-menu__count" role="tab_counter"><%= @project.responses.count %></span>
    </a><ul class="tabs-menu tabs-menu_sub" role="tabs_sub">
    <li class="tabs-menu__item" id="tab_all_sub">
      <a role="tabs_link_sub" class="tabs-menu__link link_active" data-target="all" href="#">All
        <span class="tabs-menu__count" role="tab_counter"><%= @project.responses.count %></span>
      </a></li>
    <li class="tabs-menu__item">
      <a role="tabs_link_sub" class="tabs-menu__link" data-target="new" href="#">New
        <span class="tabs-menu__count">1</span>
      </a></li>
    <li class="tabs-menu__item" id="tab_favorite">
      <a role="tabs_link_sub" class="tabs-menu__link" data-target="favorite" href="#">Marked
        <span class="tabs-menu__count" role="tab_counter">0</span>
      </a></li>
  </ul>
  </li>
  <li class="tabs-menu__item" id="tab_archive">
    <a class="tabs-menu__link" role="tabs_link" data-remote="true" href="/tasks/142270/task_comments?comment_type=archive">Archive responses
      <span class="tabs-menu__count" role="tab_counter">3</span>
    </a></li>
</ul>
<div class="response-list response-list_tasks">
  <ul class="content-list content-list__my-response content-list_responses">
    <% @project.responses.each do |response| %>
      <% if response.persisted? %>
        <li class="content-list__item">
          <article class="user user_response">
            <figure class="user__avatar user__avatar_r50">
              <%= avatar_for response.freelancer.photo %>
            </figure>
            <div class="user__info">
              <header class="user-data">
                <div class="user-data__title">
                  <%= link_to "#{response.freelancer.first_name} #{response.freelancer.last_name}", response.freelancer %>
                  <span class="user__published_at">
                 <%= distance_of_time_in_words(DateTime.now.to_i-@project.created_at.to_i) %> ago
               </span>
                  <div class="user-data__spec">
                    <%= response.freelancer.specialization %>
                  </div>
                </div>
                <div class="user__price">
              <span class="icon_free">
                <span class="count"> <%= response.freelancer.rate %>euro
                <span class="suffix"><%= response.freelancer.price_category %></span>
              </span>
              </span>
                </div>
              </header>
              <p class="user__message">
                <%= response.body %>
              </p>
              <div class="user__tags">
                <ul class="tags tags_short">
                  <% response.freelancer.skill_counts.each do |skill| %>
                    <li class="tags__item">
                      <%= link_to skill.name, freelancer_skill_path(skill.name), class: "tags__item_link" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </article>

          <div class="controls">
            <%= check_box_tag 'freelancer_id', response.id, @project.performer_id == response.freelancer_id, class: 'response', data: { remote: true, id: response.id } %>
          </div>
        </li>
<!-- Comments for response -->
<ul class="comments-list">
  <div class="comments-<%=response.id%>">
    <% response.comments.each do |comment|%>
      <% if comment.user_id == @project.user_id %>
      <li class="comments-list__item comments-list__item_author">
        <div class="avatar_comment">
          <figure class="user__avatar user__avatar_r50">
            <%= avatar_for @project.user.freelancer.photo %>
          </figure>
        </div>
        <div class="comment_wrap">
          <div class="comment">
            <div class="comment__header">
              <%= link_to freelancer_path(comment.user_id), :class => "user__name user__name_link" do%>
                <%= @project.user.freelancer.first_name %>
              <%end%>
              <span class="date_publish">
                <%=distance_of_time_in_words(DateTime.now.to_i-comment.created_at.to_i)%> ago
              </span>
            </div>
            <div class="comment__body">
              <%= comment.body %>
            </div>
          </div>
        </div>
      </li>
      <% else %>
      <li class="comments-list__item comments-list__item_freelancer">
        <div class="avatar_comment">
          <figure class="user__avatar user__avatar_r50">
            <%= avatar_for response.freelancer.photo %>
          </figure>
        </div>
        <div class="comment_wrap">
          <div class="comment">
            <div class="comment__header">
              <%= link_to freelancer_path(response.freelancer), :class => "user__name user__name_link" do%>
                <% response.freelancer.first_name %>
              <%end%>
              <span class="date_publish">
                <%=distance_of_time_in_words(DateTime.now.to_i-comment.created_at.to_i)%> ago
              </span>
            </div>
            <div class="comment__body">
              <%= comment.body %>
            </div>
          </div>
        </div>
      </li>
      <%end%>
    <% end %>
  </div>
</ul>
        <!-- Form for new comment -->
        <%= form_for [@project,response, Comment.create], :url => response_comments_path(:response_id => response.id), data: {new_comm_id: response.id}, remote: true do |f| %>
          <div class="field" id="new-comment">
            <%= f.text_area :body, class: 'form-control' %>
          </div>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit "Send", class: 'btn_green', multipart: true, data: {response_id: response.id} %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<p><a href="#" class="simple-back-to-top"></a></p>
<script type="text/javascript">
// create the back to top button
  $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');

  var amountScrolled = 300;

  $(window).scroll(function() {
	   if ( $(window).scrollTop() > amountScrolled ) {
		     $('a.back-to-top').fadeIn('slow');
	   } else {
		     $('a.back-to-top').fadeOut('slow');
	   }
     });
     $('a.back-to-top, a.simple-back-to-top').click(function() {
	      $('html, body').animate({
		        scrollTop: 0
	         }, 700);
	          return false;
    });
</script>
