<div class="response-list response-list_tasks">
  <ul class="tabs-menu tabs-menu_sub_open" role="tabs">
    <li class="tabs-menu__item" id="tab_all">
      <a class="tabs-menu__link link_active" role="tabs_link" data-remote="true" href="/tasks/142270/task_comments">
        My response
      </a>
    </li>
  </ul>

  <div class="response-list"; id="response-list">
  <ul class="content-list content-list__my-response content-list_responses">
    <% if @response.persisted? %>
      <li class="content-list__item">
        <article class="user user_response">
          <figure class="user__avatar user__avatar_r50">
            <%= avatar_for @response.freelancer.photo %>
          </figure>
          <div class="user__info">
          <header class="user-data">
            <div class="user-data__title">
              <%= link_to "#{@response.freelancer.first_name} #{@response.freelancer.last_name}", @response.freelancer %>
              <span class="user__published_at">
                <%= @response.days_ago %> days ago
              </span>
              <div class="user-data__spec">
                <%= @response.freelancer.specialization %>
              </div>
            </div>
          <div class="user__price">
            <span class="icon_free">
              <span class="count"> <%= @response.freelancer.rate %>euro
                <span class="suffix"><%= @response.freelancer.price_category %></span>
              </span>
            </span>
          </div>

          </header>
            <p class="user__message">
              <%= @response.body %>
            </p>
            <div class="user__tags">
              <ul class="tags tags_short">
                <% @response.freelancer.skill_counts.each do |skill| %>
                  <li class="tags__item">
                    <%= link_to skill.name, freelancer_skill_path(skill.name), class: "tags__item_link" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </article>

        <div class="controls">
          <%= link_to "Delete your offer", project_response_path(@project, @response), remote: true, method: :delete,
                                           class: "control control_delete_trash" %>

          <label class="control_check animated fadeOutDown" title="Выбрать исполнителя" data-active="false" data-hidden="false" style="display: none;">
            <input type="checkbox" name="set_executor" id="set_executor" value="true" class="control__check" role="toggler" data-url="http://freelansim.ru/tasks/142270/executor_found.json?authenticity_token=yXmoBcU6tCpw%2F7ggvjXKTg8Y1YDnX6LK%2FU1xualZll6PbYNVLGc0eaFydL%2FTDg7bR8Rs7gD%2FwassRBDpDpmXtQ%3D%3D&amp;datetime=1462619522&amp;login=rsajob" data-should-confirm="true" data-off-confirmer="#off-confirm" data-on-confirmer="#on-confirm" data-confirm-once="false" data-container="label.control_check">
            <span class="control__icon control__icon_performer">Выбрать исполнителя</span>
          </label>

          <%= label_tag "Accepte performer", class: 'control_check animated fadeOutDown' do %>
            <%= check_box_tag "edfdewfdewfdewf", 0, @project.set_performer, class: "control__check" %>
          <% end %>
          <%= link_to "Edit offer", '', class: "control control_edit", id: "control_edit_response", data: { response_id: @response.id } %>
        </div>
      </li>
    <% end %>
    <% if !@response.comments.blank? %>
    <ul class="comments-list">
      <div class="comments-<%=@response.id%>">
          <%= render 'comments' %>
      </div>
    </ul>
    <!-- Form for new comment -->
    <%= form_for [response, Comment.create], :url => response_comments_path(:response_id => @response.id), data: {new_comm_id: @response.id}, remote: true do |f| %>
      <div class="field" id="new-comment">
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit "Send", class: 'btn_green', multipart: true, data: {response_id: @response.id} %>
    <% end %>
    <% end %>
  </ul>
  <%= form_for [@project, @response], remote: true, html: { class: 'form_response', id: "edit-response-#{@response.id}", style: "display:none;"} do |f| %>
    <div class="field">
      <%= f.text_area :body, class: 'form-control' %>
    </div>
    <%= f.submit "Send", class: 'btn_green' %>
  <% end %>
  </div>
</div>

<p><a href="#" class="simple-back-to-top"></a></p>
<script type="text/javascript">
// create the back to top button
  $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');

  var amountScrolled = 300;

  $(window).scroll(function() {
	   if ( $(window).scrollTop() > amountScrolled ) {
		     $('a.back-to-top').fadeIn('slow');
	   } else {
		     $('a.back-to-top').fadeOut('slow');
	   }
     });
     $('a.back-to-top, a.simple-back-to-top').click(function() {
	      $('html, body').animate({
		        scrollTop: 0
	         }, 700);
	          return false;
    });
</script>
