<div class="controls">
  <b>Project in status:</b>
  <span class="statesman-<%= @project.state_machine.current_state%>">
    <%= @project.state_machine.current_state %>
  </span>
</div>
<% if current_user == @project.user %>
  <div class='controls' style="top:60px;">
    <% if @project.state_machine.in_state?(:available, :has_performer) %>
      <div class="dropdown">
        <div class="dropbtn" data-dropid="<%=@project.id%>">
          <span class="icon_settings_bordered">
          </span>
        </div>
        <div id="myDropdown-<%=@project.id%>" class="dropdown-content">
                <% if !@project.archive %>
                  <%= link_to "Archive", projects_archive_path(@project, :id => @project.id)%>
                <% else %>
                  <%= link_to "Restore", projects_archive_path(@project, :id => @project.id)%>
                <% end %>
                <%= link_to "Edit", edit_project_path(@project)%>
                <% if !@project.archive %>
                  <%= link_to "Finish", project_path(@project),   method: :delete, data: { confirm: 'Are you sure you want to finish this project?' } %>
                <% end %>
        </div>
      </div>
    <% elsif @project.state_machine.in_state?(:in_progress) %>
      <%= link_to "Complet", completed_path(:id => @project.id), {:remote => true, class: "btn_green"}%>
    <% end %>
  </div>
<% end %>
<% if current_user && current_user.id == @project.performer_id && @project.state_machine.current_state == 'has_performer' %>
  <div class="controls" style="top:60px;" >
    <div>
      <%= link_to "Accept", accept_path(:id => @project.id), {:remote => true, class: "btn_green"}%>
    </div>
    <div style="margin-top:10px">
      <%= link_to "Refuse", refuse_path(:id => @project.id), {:remote => true, class: "btn_red"}%>
    </div>
  </div>
<% end %>
