<%= header('Freelancers') %>

<div class="tabs">
  <div class="tabs__menu">
    <ul class="menu menu_tabbed" id="tabs" role="tabs">
      <li class="menu__item" id="tab_all">
        <a class="menu__link link" href="/project/my/tasks">All orders
          <span class="menu__count" role="tab_counter"><%= @projects.where(archive: false).count %></span>
        </a></li>
      <li class="menu__item" id="tab_archive">
        <%= link_to projects_show_archive_path, :class => "menu__link link link_active" do%>Archive
          <span class="menu__count" role="tab_counter"><%= @projects.where(archive: true).count %></span>
        <%end%>
      </li>
    </ul>

  </div>
  <div class="tabs__content">
    <div id="tasks_orders">
      <table class="my_tasks_table table_orders table_stroked tasks_not_paid">
        <%= render partial: 'projects/profile_project', collection: @projects.where(archive: true), as: :project %>
      </table>
    </div>
  </div>
</div>
