<%= header('Orders') %>
<% content_for(:before_main) do %>
  <%= render 'shared/search' %>
<% end %>

<ul class='content-list content-list_tasks' id='tasks_list'>
  <%= render @projects %>
</ul>

<div id='pagination'>
  <div class="pagination">

  </div>
</div>

<% aside render('categories/categories') %>
