<%= header('Place order') %>

<%= form_for @project, class: "form_standart form_add-task no_ctrl_enter_submit" do |f| %>
  <%= render 'shared/errors', object: @project %>

  <ul class="form-fields form-fields_nested">
    <li class="form-fields__group form-fields__group_full">
      <%= f.label 'Name' do %>
        Name
        <span class="required">*</span>
      <% end %>
      <div class="field">
        <%= f.text_field :title, class: 'form-control' do %>
          <small class="field__counter">70</small>
        <% end %>
      </div>
    </li>
    <li class="form-fields__group">
      <%= f.label 'Price' %>
      <div class="field field_type-money">
                <span class="field_money">
                  <%= f.text_field :price, class: 'form-control form-control_small form-control_money money_format' do  %>
                    <small class="field__counter">8</small>
                  <% end %>
                  <span class="field__postfix">euro.</span>
                  <input type="hidden" name="money_error" id="task_money" value="">
                </span>
        <span>for</span>
        <div class="form-control_select">
          <%= f.select :price_category, price_category_options, {}, { class: "form-control"} %>
        </div>
      </div>
    </li>
    <li class="form-fields__group form-fields__group_full">
      <%= f.label :description do %>
        Description:
        <span class="required">*</span>
      <% end %>
      <div class="field">
        <%= f.cktext_area :description, id:"ckeditor", :"data-no-turbolink" => true, ckeditor: { toolbar: 'mini'} %>
      </div>
      <script>
        CKEDITOR.replace('ckeditor');
      </script>

    </li>
    <li class="form-fields__group">
      <%= f.label 'Category' do %>
        Category
        <span class="required">*</span>
      <% end %>
      <div class="menu " id="selector_links">
        <%= f.collection_select :category_id, Category.all, :id, :name, {}, { class: 'form-control'} %>
      </div>

    </li>
    <li class="form-fields__group form-fields__group_full">
      <label>
        Skills Freelancer (15 pieces)
      </label>

      <div class='field'>
        <%= f.select :skill_list, @project.skills.all, { class: "form-control" }, multiple: true, class: "form-control", style: 'width: 100%' %>
      </div>
    </li>
    <li class="form-fields__group form-fields__group_full">
      <%= f.label 'City' %>
      <div class="field">
        <% if @project.location.blank? %>
          <%= f.select :location, [], {}, style: 'width: 100%;', multiple: true, class: 'select_location form-control' %>
        <% else %>
          <%= f.select :location, @project.location, {}, style: 'width: 100%;', multiple: true, class: 'select_location form-control' %>
        <% end %>
      </div>
    </li>
    <li class="form-fields__group form-fields__group_full">
      <%= f.label 'Possible payment method' do %>
        Possible payment methods
        <span class="required">*</span>
      <% end %>

      <div class="field">
        <%= collection_check_boxes :project, :payment_option_ids, PaymentOption.all, :id, :name do |t| %>
          <label class="checkbox checkbox_flat">
            <%= t.check_box %>
            <span class="checkbox__label">
                      <%= t.text %>
                    </span>
          </label>
        <% end %>
      </div>
    </li>
    <li class="form-fields__group form-fields__group_full", style="display: none;">
      <%= f.label 'Anonymity order' %>
      <div class="field field_checkbox">
        <div class="field__help">
          Setup allows for contractors to remain anonymous. Note that this may reduce the number of responses
        </div>
      </div>
      <label class="checkbox checkbox_flat">
        <%= f.check_box :anonymity %>
        <span class="checkbox__label">
                Place Order anonymously
              </span>
      </label>
    </li>
    <li class="form-fields__group" id="task_anyfile_ids_hidden"></li>



  <li class="form-fields__group form-fields__group_full">
  <div class='form_standart'>
    <label for="anyfile_item">Files</label>
    <div class="form-fields__group form-fields__group_full" id="doc_for_project"  data-docid="<%=@project.id%>">
      <%= link_to_add_association 'add file', f, :documents, class: "add_assotiation", id: "link_to_association"%>
    </div>
    <ul class="files-list files-list_form">
      <% @project.documents.each do |document| %>
        <li class="files-list__item files-list__item_success" id="<%= dom_id(document) %>">
          <div class="files-list__show"></div>
          <%= link_to document.attachment.name, document.attachment.url, class: 'files-list__link' %>
          <%= link_to "Delete", document_path(document), class: 'files-list__delete', remote: true,  method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
        </li>
      <% end %>
    </ul>
  </div>
  </li>
  </ul>
  <div class="form-fields__group_buttons">
    <%= f.submit 'Save', class: 'btn_green' %>
  </div>
<% end %>
<% aside render('no_vacancies') %>
