<%= header('Orders') %>

<% content_for(:before_main) do %>
  <div class='search-suggest'>
    <%= search_form_for @q, url: search_projects_path, html: { method: :post } do |f| %>
      <%= f.search_field :title_or_description_or_skills_name_cont, class: "search-suggest___field", placeholder: "Search..." %>
      <i class='search-suggest__icon icon_search'></i>
      <%= f.submit "Search" %>
    <% end %>
  </div>
<% end %>

<ul class='content-list content-list_tasks' id='tasks_list' remote="true">
  <%= render @projects %>
</ul>
<div id='pagination'>
  <div class="pagination">
    <%= will_paginate @projects %>
  </div>
</div>
<% aside render('categories/categories') %>
