<div class="advices">
  <h2 class="task_title"><%= t('before_create_project')%></h2>

  <div class="advice">
    <label for="a1" class="checkbox checkbox_flat">
      <input type="checkbox" value="1" id="a1" class="advice_check">
      <span class="checkbox__label">
        <%= t('label_1')%>
      </span>
    </label>
    <div class="clear"></div>
    <label for="a1" class="text">
      <%= t('description_1') %><br><br>
      <strong class="false"><%= t('bad_practice')%></strong>
      <em><%= t('bad_practice_1')%></em><br><br>
      <strong class="true"><%= t('good_practice')%></strong>
      <em><%= t('good_practice_1')%></em><br><br>
    </label>
  </div>

  <div class="advice disabled">
    <label for="a2" class="checkbox checkbox_flat">
      <input type="checkbox" value="2" id="a2" class="advice_check" disabled="true">
      <span class="checkbox__label">
        <%= t('label_2')%>
      </span>
    </label>
    <div class="clear"></div>
    <label for="a2" class="text">
      <%= t('description_2') %><br><br>
      <strong class="false"><%= t('bad_practice')%></strong>
      <em><%= t('bad_practice_2')%></em><br><br>
      <strong class="true"><%= t('good_practice')%></strong>
      <em><%= t('good_practice_2')%></em><br><br>
    </label>
  </div>

  <div class="advice disabled">
    <label for="a3" class="checkbox checkbox_flat">
      <input type="checkbox" value="3" id="a3" class="advice_check" disabled="true">
      <span class="checkbox__label">
        <%= t('label_3')%>
      </span>
    </label>
    <div class="clear"></div>
    <label for="a3" class="text">
      <%= t('description_3') %><br><br>
    </label>
  </div>

  <div class="advice disabled">
    <label for="a4" class="checkbox checkbox_flat">
      <input type="checkbox" value="4" id="a4" class="advice_check" disabled="true">
      <span class="checkbox__label">
        <%= t('label_4')%>
      </span>
    </label>
    <div class="clear"></div>
    <label for="a4" class="text">
      <%= t('description_4') %><br><br>
      <strong class="false"><%= t('bad_practice')%></strong>
      <em><%= t('bad_practice_4')%></em><br><br>
      <strong class="true"><%= t('good_practice')%></strong>
      <em><%= t('good_practice_4')%></em><br><br>
    </label>
  </div>

  <div class="advice disabled">
    <label for="a5" class="checkbox checkbox_flat">
      <input type="checkbox" value="5" id="a5" class="advice_check" disabled="true">
      <span class="checkbox__label">
        <%= t('label_5')%>
      </span>
    </label>
    <div class="clear"></div>
    <label for="a5" class="text">
      <%= t('description_5') %><br><br>
    </label>
  </div>

  <div class="form-fields__group_buttons">
    <%= button_to "Submit", new_project_path, method: 'get', class: 'btn_green', disabled: true, id: 'advice_check_button' %>
  </div>

</div>
<% aside render('shared/menu_user_settings') %>
