<%= header('Place order') %>

<%= form_for @project, :builder => Judge::FormBuilder, class: "form_standart form_add-task no_ctrl_enter_submit" do |f| %>
  <%= render 'shared/errors', object: @project %>

  <ul class="form-fields form-fields_nested">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <li class="form-fields__group form-fields__group_full">
      <%= f.label 'Name' do %>
        Name
        <span class="required">*</span>
      <% end %>
      <div class="field">
        <%= f.text_field :title, validate: true, class: 'form-control' do %>
          <small class="field__counter">70</small>
        <% end %>
      </div>
    </li>
    <li class="form-fields__group">
      <%= f.label 'Price' %>
      <div class="field field_type-money">
                <span class="field_money">
                  <%= f.text_field :price, validate: true, class: 'form-control form-control_small form-control_money money_format' %>
                  <span class="field__postfix">euro.</span>
                  <input type="hidden" name="money_error" id="task_money" value="">
                </span>
        <span>for</span>
        <div class="form-control_select">
          <%= f.select :price_category, price_category_options, {}, { class: "form-control" } %>
        </div>
      </div>
    </li>
    <li class="form-fields__group form-fields__group_full">
      <%= f.label :description do %>
        Description:
        <span class="required">*</span>
      <% end %>
      <div class="field">
        <%= f.cktext_area :description, :"data-no-turbolink" => true, id: 'ckeditor', ckeditor: { toolbar: 'mini'} %>
      </div>
      <script>
        CKEDITOR.replace('ckeditor');
      </script>

    </li>
    <li class="form-fields__group">
      <%= f.label 'Category' do %>
        Category
        <span class="required">*</span>
      <% end %>
      <div class="menu " id="selector_links">
        <%= f.collection_select :category_id, Category.all, :id, :name, {}, { class: 'form-control'} %>
      </div>

    </li>
    <li class="form-fields__group form-fields__group_full">
      <label>
        Skills Freelancer (15 pieces)
      </label>

      <div class='field'>
        <%= f.select :skill_list, {}, { class: "form-con" }, multiple: true, style: 'width: 100%', class: "form-con" %>
      </div>
    </li>
    <li class="form-fields__group form-fields__group_full">
      <%= f.label 'City' %>
      <div class="field">
        <%= f.select :location, [], {}, style: 'width: 100%;', multiple: true, class: 'select_location form-control' %>
      </div>
    </li>
    <li class="form-fields__group form-fields__group_full">
      <%= f.label 'Possible payment method' do %>
        Possible payment methods
        <span class="required">*</span>
      <% end %>

      <div class="field">
        <% payment_options.each do |type| %>
          <label class="checkbox checkbox_flat">
            <%= check_box_tag 'project[payment_option_ids][]', type.id %>
            <span class="checkbox__label">
                      <%= type.name %>
                    </span>
          </label>
        <% end %>
      </div>
    </li>
    <li class="form-fields__group form-fields__group_full", style="display: none;">
      <%= f.label 'Anonymity order' %>
      <div class="field field_checkbox">
        <div class="field__help">
          Setup allows for contractors to remain anonymous. Note that this may reduce the number of responses
        </div>
      </div>
      <label class="checkbox checkbox_flat">
        <%= f.check_box :anonymity %>
        <span class="checkbox__label">
                Place Order anonymously
              </span>
      </label>
    </li>
    <li class="form-fields__group" id="task_anyfile_ids_hidden"></li>
    <li class="form-fields__group form-fields__group_full"  id="doc_for_project"  data-docid="<%= Project.maximum(:id).next %>" >
    <div>
      <%= link_to_add_association 'add file', f, :documents, class: "add_assotiation", id: "link_to_association"%>
    </div>
    <br>
  </li>
  </ul>
  <div class="form-fields__group_buttons ">
    <%= f.submit 'Create', class: 'btn_green' %>
  </div>
<% end %>

<% aside render('no_vacancies') %>
