<div class='task task_detail'>
  <h2 class='task__title'> <%= @project.title %> </h2>
  <div class='task__description'>
    <%= simple_format(@project.description) %>
  </div>
  <div class='task__tags'>
    <ul class="tags ">
      <% @project.skill_counts.each do |skill| %>
        <li class="tags__item">
          <%= link_to skill.name, skill_path(skill.name), class: "tags__item_link" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="statesman">
    <%= render 'state_control' %>
  </div>
  <% if @project.documents.count != 0 %>
  <div class='form_standart'>
    <label for="anyfile_item">Files</label>
    <ul class="files-list files-list_form">
      <% @project.documents.each do |document| %>
        <li class="files-list__item files-list__item_success" id="<%= dom_id(document) %>">
          <div class="files-list__show"></div>
          <%= link_to document.attachment.name, document.attachment.url, class: 'files-list__link' %>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<div class="responses">
  <% if current_user.nil? %>
    <%= render "require_auth" %>
  <% elsif @project.is_owner?(current_user) %>
    <%= render "responses" %>
  <% elsif Response.exists?(freelancer_id: @freelancer.id, project_id: @project.id) %>
    <%= render 'response' %>
  <% else %>
    <%= render partial: 'new_response', locals: { project: @project, response: @new_response} %>
  <% end %>
</div>


<% content_for(:below_main) do %>
  <aside class='column_sidebar'>
    <div class='layout-block layout-block_task'>
      <div class='layout-block_bordered'>
        <dl class='user-params'>
          <dt class='user-params__property'>Project budget</dt>
          <dd class='user-params__value'>
            <div class='task__price'>
              <span class='icon_cash'>
                <span class='count'> <%= @project.price %> <span class='suffix'><%= @project.price_category %></span></span>
              </span>
            </div>
          </dd>
        </dl>
      </div>
      <% if user_signed_in? %>
        <%= render partial: "owner_details" %>
      <% else %>
        <div class='layout-block_bordered'>
          <dl class='user-params'>
            <dd class='user-params__value user-info_short'>
              <p class='user-info__text'>Sign in to see the client profile</p>
              <%= link_to 'Sign in', user_session_path, class: 'link icon_settings_private' %>
            </dd>
          </dl>
        </div>
      <% end %>

      <div class='layout-block_bordered'>
        <dl class='user-params'>
          <dt class='user-params__property'>
            Statistics
          </dt>
          <dd class='user-params__value'>
            <ul class='list'>
              <li class='list__item data data_statistics'>
                <span class='data__label icon_task_responses'>
                  Responses
                </span>
                <span class='data__value' id='task_comments_count_138385'>
                    <%= @project.responses.count %>
                </span>
              </li>
              <li class='list__item data data_statistics' title='Times viewed Order for the month and the day'>
                <span class='data__label icon_task_views'>
                        Views
                </span>
                <span class='data__value'>
                  <%= @project.impressions.count %>
                </span>
              </li>
              <li class='list__item data data_statistics'>
                <span class='data__label icon_task_publish_at'>
                  Posted by
                </span>
                <span class='data__value'><%= @project.created_at.strftime("%b %d, %Y") %></span>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="layout-block_bordered">
        <dl class="user-params">
          <dt class="user-params__property">Location</dt>
          <dd class="user-params__value">
            <div class="user-data__country icon_pin">
              <span class="task__location"><%= @project.location %></span>
            </div>
          </dd>
        </dl>
      </div>
      <div class='layout-block_bordered'>
        <dl class='user-params'>
          <dt class='user-params__property'>Method of payment</dt>
          <dd class='user-params__value'>
            <ul class='list list_payments'>
              <% @project.payment_options.each do |o| %>
                <li class='list__item'><%= o.name %></li>
              <% end %>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="layout-block_bordered">
        <dl class="user-params">
          <dt class="user-params__property">Files</dt>
          <dd class="user-params__value">
            <% unless @project.documents.empty? %>
              <ul class="files-list" id="files_list">
                <% @project.documents.each do |a| %>
                  <li class="files-list__item files-list__item_success">
                    <%= link_to a.attachment.name, a.attachment.url, alt: a.attachment.name, target: '_blank' %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </dd>
        </dl>
      </div>
    </div>
  </aside>
<% end %>
