<li class='content-list__item'>
  <article class='task task_list'>
    <div class='task__column_desc'>
      <header class='task__header'>
        <div class='task__title'>
          <%= link_to response.project.title, response.project %>
        </div>
        <div class='task__params params'>
                        <span class='params__responses icon_task_responses' title='Number of responses'>
                        <i class='params__count'>3</i>
                        responses
                        </span>
                        <span class='params__views icon_task_views' title='Number of views Order this month'>
                        <i class='params__count'>27</i>
                        views
                        </span>
                        <span class='params__published-at icon_task_publish_at' title='Order Date'>
                        ~ 2 hourse
                        ago
                        </span>
        </div>
      </header>
      <div class="task__description" >
        <%= response.body %>
      </div>
      <div class='task__tags'>
        <ul class="tags tags_short">
          <% response.project.skill_counts.each do |skill| %>
            <li class="tags__item">
              <%= link_to skill.name, skill_path(skill.name), class: "tags__item_link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <aside class='task__column_price'>
      <div class='task__price'>
        <span class='icon_cash_small' title='Price'></span>
                     <span class='count'>
                        <%= response.project.price %>
                       <span class="suffix">
                            <%= response.project.price_category %>
                        </span>
                    </span>

      </div>
    </aside>
  </article>
</li>