$('.new-response').hide();
$('.responses').html('<%= j render("projects/response") %>');

$('#control_edit_response').click(function(e) {
  e.preventDefault();
  $(this).hide();
  $('.content-list_responses').hide();
  response_id = $(this).data('response-id');
  $('form#edit-response-' + response_id).show();
});




