<%= header('My Responses') %>

<ul class='content-list content-list_tasks' id='tasks_list'>
  <%= render @responses %>
</ul>
<div id='pagination'>
  <div class="pagination">
    <%= will_paginate @responses %>
  </div>
</div>

<p><a href="#" class="simple-back-to-top"></a></p>
<script type="text/javascript">
// create the back to top button
  $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');

  var amountScrolled = 300;

  $(window).scroll(function() {
	   if ( $(window).scrollTop() > amountScrolled ) {
		     $('a.back-to-top').fadeIn('slow');
	   } else {
		     $('a.back-to-top').fadeOut('slow');
	   }
     });
     $('a.back-to-top, a.simple-back-to-top').click(function() {
	      $('html, body').animate({
		        scrollTop: 0
	         }, 700);
	          return false;
    });
</script>
