<div class="devise_page">
  <div class="title_line">
    <div class="right">
      <%= link_to "#{t :sign_up}", new_user_registration_path %>
    </div>
    <div class="title"><%= "#{t :sign_in}" %></div>
  </div>
  <div class="login_page">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "new_user") do |f| %>
      <div class="item">
        <%= f.label :email, "E-mail" %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "E-mail" %>
        </div>
      </div>
      <div class="item">
        <%= f.label :password, "#{t :password}" %>
        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "#{t :password}" %>
        </div>
      </div>

      <div class="buttons">
        <%= f.submit "#{t :sign_in}", class: "button button_green" %><br><br>
          <%= link_to 'Google', '/users/auth/google_oauth2', class: 'button button_google' %>
          <!-- <input type="button" class="button button_twitter" value="Twitter"> -->
          <%= link_to 'Twitter', '/users/auth/twitter', class: 'button button_twitter' %>
          <%= link_to 'Facebook', '/users/auth/facebook', class: 'button button_facebook' %>
        <div class="links">
          <%= link_to "#{t :new_password}", new_password_path(resource_name) %>
          <%= link_to "#{t :new_confirmation}", new_confirmation_path(resource_name) %>
        </div>
      </div>
    <% end %>

    <!-- <%= render 'devise/shared/links' %> -->
  </div>
</div>
