.devise_page form {
  text-align: left
}

.devise_page form .single_description {
  color: #8f8f8f;
  font-size: 12px;
  display: block;
  margin-top: 2px
}

.devise_page form .item {
  margin-bottom: 20px
}

.devise_page form .item label {
  color: $light_grey;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.devise_page form .item .field {
  display: block;
  color: $light_grey;
  font-size: 12px;
  .field_with_errors {
    input {
      border-color: $red !important;
      background-color: $ghost_red !important;
    }
  }
}

.devise_page form .item .field input[type="text"],
.devise_page form .item .field input[type="email"],
.devise_page form .item .field input[type="password"] {
  border: 1px solid $ghost_white;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.3);
  padding: 0;
  margin: 0;
  line-height: 30px;
  height: 30px;
  text-indent: 5px;
  width: 348px;
  background: #fff;
  font-size: 14px;
  color: #555e6c;
  &:focus {
    border-color: $darker_blue;
  }
}

.devise_page form .item .field .validation-error {
  color: #ef7f7f;
}

.devise_page form .buttons .button {
  font-family: 'Montserrat Alternates', sans-serif;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 16px;
  border-radius: 5px;
  background-color: #e0e2e5;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  height: 37px;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px
}

.devise_page form .buttons .button[disabled] {
  opacity: 0.65;
  pointer-events: none
}

.devise_page form .buttons .button_green {
  background-color: $mid_green;
  &:hover, &:focus, &:active {
    background-color: darken($mid_green, 10%);
  }
}
.devise_page form .buttons .button_google {
  background-color: $google;
  align-self: center;
  
  &:hover, &:focus, &:active {
    background-color: darken($google, 10%);
  }
}
.devise_page form .buttons .button_facebook {
  background-color: $facebook;
  &:hover, &:focus, &:active {
    background-color: darken($facebook, 10%);
  }
}
.devise_page form .buttons .button_twitter {
  background-color: $twitter;
  &:hover, &:focus, &:active {
    background-color: darken($twitter, 10%);
  }
}

.devise_page form .buttons .links {
  padding-top: 10px;
  font-size: 12px;
}

.devise_page form .buttons .links a {
  color: $light_grey;
  margin-right: 5px;
  font-family: 'Rubik', sans-serif;
}

.alert {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 15px;
  text-align: left;
  font-size: 14px;
  ul {
    margin: 0;
    padding-left: 20px;
  }
}

.alert-danger {
  background-color: #f2dede;
  border-color: $ghost_red;
  color: $red;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}

.alert-alert {@extend .alert-danger;}
