body {
  background: image-url('auth_page/bg.png') #414141 repeat 0 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  min-width: 430px;
}

html.turbolinks-progress-bar::before {
  background-color: $mid_green !important;
  height: 5px !important;
}

a {
  &:link, &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

.devise_page {
  position: relative;

  .title_line {
    border-bottom: 1px solid $light_grey;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: left;

    .title {
      font-size: 18px;
      color: $dark_blue;
      font-weight: bold;
      display: inline-block
    }

    .right {
      padding-top: 3px;
      float: right;
      font-size: 14px;
      a {
        font-size: 18px;
        line-height: 18px;
        color: $dark_blue;
      }
    }
  }
}

.lang-switch {
  position: absolute;
  right: 10px;
  top: 10px;
  .flag {
    width: 24px;
    height: 14px;
    text-decoration: none;
    text-indent: -9999999px;
    display: block;
  }
  .en {
    background: sprite($flags, en);
  }
  .de {
    background: sprite($flags, de);
  }
}
