.layout {
  width: 410px;
  margin: 40px auto 80px;
  .logo {
    display: block;
    width: 410px;
    height: 130px;
    margin: auto;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    h1 {
      font-size: 75px;
      font-family: 'Montserrat Alternates', sans-serif;
      margin: 0;
    }
    h2 {
      font-size: 24px;
      font-family: 'Rubik', sans-serif;
      margin: 0;
    }
  }

  .block {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
  }
}