<%= header('Settings subscribe') %>

<div class="form_standart form_delivery-type form_settings" >
  <fieldset class="form-section form-section_outher">
    <div class="form-section form-section_text" data-role="subscription-description" data-state="daily">
      <legend class="form-section__title">Every day delivery new orders</legend>
      <p class="form-section__desc">Every day, "freelance" will send a letter to the published orders for the last day.</p>
    </div>
  </fieldset>
</div>

<%= form_for @subscriber, class: "form_standart form_subscribe" do |f| %>
  <div id="subscription_groups">
    <%= f.hidden_field :email, value: current_user.email %>
    <dl class="js-group toggle-section toggle-section_subscribe" role="subscription-block">
      <dd class="js-categories toggle-section__wrapper">
        <%= collection_check_boxes(:subscriber, :category_ids, Category.all, :id, :name) do |b| %>
          <%= b.label class: "checkbox checkbox_flat" do %>
            <%= b.check_box %>
            <span class="checkbox__label">
                    <%= b.text %>
                  </span>
          <% end %>
        <% end %>
      </dd>
    </dl>
  </div>
  <dd>
    <%= f.radio_button :subscribe_type, 0 %>
    <span><%= label_tag("Receive every hour") %></span>
  </dd>
  <dd>
    <%= f.radio_button :subscribe_type, 1, :checked => true %>
    <span><%= label_tag("Receive every day") %></span>
  </dd>
  <br>
  <%= f.submit 'Save', class: 'btn_grey' %>
<% end %>

<% aside render('shared/menu_user_settings') %>
