<aside class="column_sidebar">
  <div class="layout-block layout-block_profile">
    <div class="layout-block_bordered">
      <dl class="user-params">
        <dt class="user-params__property">Working costs</dt>
        <dd class="user-params__value user__price_profile">
          <div class="user__price" id="freelancer_status_47582">
<span class="icon_free" title="Фрилансер свободен">
<span class="count"><%= @freelancer.rate %><span class="suffix"><%= @freelancer.price_category %></span></span>
</span>
          </div>

        </dd>
      </dl>
    </div>
    <div class="layout-block_bordered">
      <dl class="user-params">
        <dt class="user-params__property">Location</dt>
        <dd class="user-params__value">
          <div class="user-data__country icon_pin">
<span class="user__location">
  <%= @freelancer.location %>
</span>
          </div>
        </dd>
      </dl>
    </div>
    <div class="layout-block_bordered">
      <dl class="user-params">
        <dt class="user-params__property">Contacts</dt>
        <dd class="user-params__value" id="js-contacts">
          <ul class="list list_contacts">
            <% unless @freelancer.site.blank? %>
              <li class="list__item">
                <%= link_to @freelancer.site, url_with_protocol(@freelancer.site), class: "site", target: '_blank' %>
              </li>
            <% end %>
            <% unless @freelancer.email.blank? %>
              <li class="list__item">
                <%= mail_to @freelancer.email, @freelancer.email, html_options: { class: "link_mail" } %>
              </li>
            <% end %>
            <% unless @freelancer.phone.blank? %>
              <li class="list__item">
                <div class="user__phone" >
                  <%= @freelancer.phone %>
                </div>
              </li>
            <% end %>
          </ul>
        </dd>
      </dl>

    </div>

    <% unless @freelancer.links.blank? %>
      <div class="layout-block_bordered">
        <dl class="user-params">
          <dt class="user-params__property">Messengers</dt>
          <dd class="user-params__value">
            <ul class="list">
              <% @freelancer.links.select {|link| ['Skype', 'ICQ', 'Jabber'].include? link.messenger_type.title }.each do |link| %>
                <li class="list__item data">
                  <span class="data__label"><%= link.messenger_type.title %>:</span>
                  <span class="data__value"><%= link.url %></span>
                </li>
              <% end %>
            </ul>
          </dd>
        </dl>
      </div>
    <% end %>
    <div class="layout-block_bordered">
      <dl class="user-params">
        <dt class="user-params__property">Statistics</dt>
        <dd class="user-params__value">
          <ul class="list">
            <li class="list__item data data_statistics">
<span class="data__label icon_profile_views">
Views
</span>
<span class="data__value">
34
</span>
            </li>
            <li class="list__item data data_statistics">
<span class="data__label icon_pofile_performer">
Performer
</span>
              <span class="data__value">0</span>
            </li>
          </ul>
        </dd>
      </dl>
    </div>
    <div class="layout-block_bordered">
      <dl class="user-params">
        <dt class="user-params__property">Activity</dt>
        <dd class="user-params__value">
          <ul class="list">
            <li class="list__item data data_activity">
              <span class="data__label icon_offerta">Registered</span></br>
              <span class="data__value"><%=@freelancer.user.created_at.strftime("%d %B, %Y") %></span>
            </li>
            <li class="list__item data data_activity">
      <span class="data__label icon_profile_stage">
      Last sign in
      </span></br>
              <span class="data__value"><%= @freelancer.user.last_sign_in_at.strftime("%d %B, %Y") %></span>
            </li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>



</aside>
