<dl class="profile-blocks_info">
  <dt class="profile-blocks__title">
    About me
    <% if policy(@freelancer).update? %>
    <span class="profile-blocks__settings">
      <%= link_to "Settings", edit_freelancer_path(@freelancer),
                  class: "custom_icon control control_settings_profile", data: { turbolinks: false } %>
    </span>
    <% end %>
  </dt>
  <dd class="profile-blocks__content">
    <dl class="user-params user-params_inline">
      <% unless @freelancer.birthday.blank? %>
        <dt class="user-params__property">Age:</dt>
        <dd class="user-params__value"> <%= @freelancer.age %></dd>
      <% end %>
      <dt class="user-params__property">Type of ownership:</dt>
      <dd class="user-params__value">
        <% @freelancer.ownership_types.each do |o| %>
          <%= o.title %>
        <% end %>
      </dd>
      <% unless @freelancer.payment_options.blank? %>
        <dt class="user-params__property">Payment Methods:</dt>
        <dd class="user-params__value">
          <% @freelancer.payment_options.each do |o| %>
            <%= o.name %>
          <% end %>
        </dd>
      <% end %>
    </dl>
    <div class="user-data__about">
      <%= simple_format(@freelancer.description) %>
    </div>

    <!-- <% unless @freelancer.links.blank? %>
      <dl class="user-params user-params_links">
        <dt class="user-params__property">Links</dt>
        <dd class="user-params__value">
          <ul class="list">
            <%= render @freelancer.links %>
          </ul>
        </dd>
      </dl>
    <% end %> -->

    <div id="modal-window"></div>
    <div class="user_data__about" style="margin-left:60px">
    <% @freelancer.portfolios.each do |portfolio|%>
      <% if current_user && @freelancer.user_id == current_user.id %>
        <div class="portfolio" style="display:inline-flex; margin-top:0px">
          <div class="portfolio-items-show">
            <div class="preview-img-show">
              <div class="portfolio-menu-show">
                <p>
                  <b><%= portfolio.title %></b>
                </p>
                <%= link_to "", watch_path(@portfolio, :id => portfolio.id), {:remote => true, 'data-target' => '#modal-window', class: "show-portfolio"}%>
                <%= link_to '', edit_portfolio_path(@portfolio, :id => portfolio.id),  {:remote => true, 'data-target' => '#modal-window', class: "edit-portfolio"}  %>
                <%= link_to "", portfolio_path(@portfolio, :id => portfolio.id), method: :delete, data: { confirm: 'Are you sure you want to delete this project?' }, class: "delete-portfolio"%>
              </div>
              <% if portfolio.documents.count !=0 %>
                <div class="img_for_portfolio-show" style="background-image: url(<%= portfolio.documents.first.attachment.url %>)">
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% else %>
        <%= link_to watch_path(@portfolio, :id => portfolio.id), {:remote => true, 'data-target' => '#modal-window', class: "link-portfolio"} do%>
          <div class="portfolio" style="display:inline-flex; margin-top:0px">
            <div class="portfolio-items-show">
              <div class="preview-img-show">
                <div class="portfolio-menu-show">
                  <p>
                    <b><%= portfolio.title %></b>
                  </p>
                  <p>
                    <%= simple_format truncate( portfolio.description, escape: false, length: 100) %>
                  </p>
                </div>
                <% if portfolio.documents.count !=0 %>
                  <div class="img_for_portfolio-show" style="background-image: url(<%= portfolio.documents.first.attachment.url %>)">
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

    <dl class="user-params user-params_tags">
      <dt class="user-params__property">professionals skills:</dt>
      <dd class="user-params__value user-params__value_tags">
        <ul class="tags">
          <% @freelancer.skill_counts.each do |skill| %>
            <li class="tags__item">
              <%= link_to skill.name, freelancer_skill_path(skill.name), class: "tags__item_link" %>
            </li>
          <% end %>
        </ul>
      </dd>
    </dl>
  </dd>
</dl>
