<div class="user-profile__header">
<%= render partial: 'backgrounds/banner' %>
  <div class="user-info_profile">
    <div class="avatar">
      <%= avatar_for @photo %>
    </div>
    <div class="user-info__wrap">
      <h2 class="user__name_large">
        <%= @freelancer.first_name %>
        <%= @freelancer.last_name %>
      </h2>
      <div class="user__profession">
        <%= @freelancer.specialization %>
      </div>
      <div class="user__socials-links">
        <ul class="icons-bar icons-bar_socials icons-bar_socials_profile">
          <% @freelancer.links.select {|link| ['Twitter', 'Facebook', 'GitHub', 'Website'].include? link.messenger_type.title }.each do |link| %>
            <li class="icons-bar__item">
              <%= link_to link.url, url_with_protocol(link.url), class: "icons-bar__icon icon_#{link.messenger_type.title.downcase}", :target => "_blank"%>
            </li>
         <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
