<%= form_for(Portfolio.new, html: { id: 'modal', remote: true, turbolinks: false}) do |f|  %>
  <%= f.hidden_field :freelancer_id, value: @freelancer.id %>
<!-- The Modal -->
<div id="myModal" class="modal-portfolio">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <h2>My projects</h2>
    </div>
    <div class="modal-body">
        <table id="doc_for_portfolio" data-docid="">
          <tr class="table__row">
            <td>
            <label>Project title</label>
            <%= f.text_field :title, validate: true, class: 'form-control' do %>
              <small class="field__counter">70</small>
            <% end %>
            </td>
            <td>
              <label>Category</label>
              <div class="menu " id="selector_links">
                <%= f.collection_select :category_id, Category.all, :id, :name, {}, { class: 'form-control'} %>
              </div>
            </td>
          </tr>
          <tr class="table__row">
            <td>
              <label>Project URL</label>
              <%= f.text_field :project_url, validate: false, class: 'form-control'%>
            </td>
            <td>
              <label>Completion date</label>
              <%= f.text_field :completion_date, class: 'birthday1 form-control' %>
            </td>
          </tr>
        </table>
        <table>
          <tr class="table__row">
            <td>
              <%= f.label :description do %>
                Description:
                <span class="required">*</span>
              <% end %>
              <div class="field">
                <%= f.cktext_area :description, :"data-no-turbolink" => true, id: 'ckeditor_modal', ckeditor: { toolbar: 'mini', height: '200px'} %>
              </div>
              <script>
                CKEDITOR.replace('ckeditor_modal');
              </script>
            </td>
          </tr>
          <tr class="table__row">
            <td>
              <div>
                <%= link_to_add_association 'add file', f, :documents, class: "add_assotiation", id: "link_to_association"%>
              </div>
            </td>
          </tr>
            <!-- <td>
            <label>Skill</label>
            <%= f.select :skill_list, {}, { class: "form-con" }, multiple: true, style: 'width: 100%', class: "form-con" %>
          </td> -->
        </table>
          <!-- <div class="field">
            <label>Was this project done on FLmarkt?</label>
          </div> -->
    </div>
    <div class="modal-footer">
      <div class="form-fields" id="btn_modal">
        <%= f.submit 'Publish project', class: 'btn_green', id: 'create',  data: { turbolinks: false }%>
        <button class="btn_red" id="cancel" >Cancel</button>

      </div>
    </div>
  </div>
</div>
<% end %>
