<div class="nested-fields">
  <label>File (first file using for preview)</label>

  <%= form_for(Document.new, html: { multipart: true, class: "dropzone"}) do |a|  %>
    <div class="fallback">
      <%= f.file_field :attachment %>
    </div>
  <% end %>
</div>
<br>
