<%= form_for @freelancer, class: "form_standart" do |f| %>
  <ul class="form-fields">
    <li class="form-fields__group form-fields__group_full">
      <label for="freelancer_first_name"><%= I18n.t 'activerecord.attributes.freelancer.first_name' %></label>
      <div class="field">
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
    </li>
    <li class="form-fields__group form-fields__group_full">
      <label for="freelancer_first_name"><%= I18n.t 'activerecord.attributes.freelancer.last_name' %></span></label>
      <div class="field">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </li>

    <li class="form-fields__group form-fields__group_full">
      <%= f.label :rate %>
      <div class="field field_type-money">
        <div class="field_money">
          <%= f.text_field :rate, class: "form-control form-control_money money_format" %>
          <span class="field__postfix">euro</span>
        </div>
        <span><%= t('for') %></span>
        <div class="form-control_select">
          <div class="form-control_select">
            <%= f.select :price_category, price_category_options, {}, { class: "form-control" } %>
          </div>
        </div>
      </div>
    </li>

<div id="modal-window"></div>

    <li class="form-fields__group form-fields__group_full">
      <%= f.label :payment_options do %>
        <%= I18n.t('possible_payment_methods') %>
        <span class="required">*</span>
      <% end %>

      <div class="field">
        <%= collection_check_boxes(:freelancer, :payment_option_ids, PaymentOption.all, :id, :name) do |b| %>
          <%= b.label class: "checkbox checkbox_flat" do %>
            <%= b.check_box %>
            <div class="checkbox__label">
              <%= b.text %>
            </div>
          <% end %>
        <% end %>
      </div>
    </li>

    <li>
      <%= f.label :birthday %>
      <div>
        <%= f.text_field :birthday, class: 'birthday1 form-control' %>
      </div>
    </li>

    <li class="form-fields__group form-fields__group_full">
      <%= f.label :location %>
      <div class="field">
        <% if @freelancer.location.blank? %>
          <%= f.select :location, [], {}, style: 'width: 100%;', multiple: true, class: 'select_location form-control' %>
        <% else %>
          <%= f.select :location, @freelancer.location, {}, style: 'width: 100%;', multiple: true, class: 'select_location form-control' %>
        <% end %>
      </div>
    </li>
    <li class="form-fields__group form-fields__group_full">
      <%= f.label :description %>
      <div class="field">
        <%= f.cktext_area :description, :"data-no-turbolink" => true, id: 'ckeditor', ckeditor: { toolbar: 'mini'} %>
      </div>
      <script>
        CKEDITOR.replace('ckeditor');
      </script>
    </li>
  </ul>

  <fieldset class="form-section">
    <legend class="form-section__title form-section__title_border">Portfolio
      <a class="custom_icon link_add-field icon_add_field add_nested_fields" id="myBtn" data-turbolinks="false" ></a>
    </legend>
    <div class="portfolio-container">
      <%= render 'portfolio' %>
    </div>
  </fieldset>

  <fieldset class="form-section">
    <legend class="form-section__title form-section__title_border">
      <%= t('professional_data') %>
    </legend>
    <ul class="form-fields form-fields_reset_top">
      <li class="form-fields__group form-fields__group_full">
        <%= f.label :specialization do %>
          <%= t('specialization') %>
          <span class="required">*</span></label>
        <% end %>
        <div class="field">
          <%= f.text_field :specialization, class: "form-control" %>
        </div>
      </li>

      <li class="form-fields__group form-fields__group_full">
        <label>
          <%= t('professional_skills') %><span class="required">*</span>
        </label>
        <div class='field'>
          <%= f.select :skill_list, @freelancer.skills.all, { class: "form-control" }, multiple: true, class: "form-control", style: 'width: 100%' %>
        </div>
      </li>

      <li class="form-fields__group form-fields__group_full">
        <%= f.label :experience do %>
          <%= t('experience') %> 
          <span class="required">*</span>
        <% end %>
        <!-- <div class="form-control_select">
          <div class="form-control_select"> -->
            <%= f.select :experience, work_experience_options, {}, { class: "form-control" } %>
          <!-- </div> -->
        <!-- </div> -->
      </li>

      <li class="form-fields__group form-fields__group_full">
        <%= f.label :category do %>
          <%= t('provided_service') %>
          <span class="required">*</span>
        <% end %>
        <div class="menu" id="selector_links">
          <%= f.collection_select :category_id, Category.all, :id, :name, {}, { class: 'form-control'} %>
        </div>
      </li>

      <li class="form-fields__group">

        <label><%= t('ownership_type') %></label>
        <div class="field">
          <%= collection_check_boxes(:freelancer, :ownership_type_ids, OwnershipType.all, :id, :title) do |b| %>
            <%= b.label class: "checkbox checkbox_flat" do %>
              <%= b.check_box %>
              <div class="checkbox__label">
                <%= b.text %>
              </div>
            <% end %>
          <% end %>

        </div>
      </li>
    </ul>
  </fieldset>

  <fieldset class="form-section">
    <legend class="form-section__title form-section__title_border"><%= t('contact_information') %></legend>
    <ul class="form-fields form-fields_reset_top">
      <li class="form-fields__group">
        <label for="freelancer_home_page"><%= t('home_page') %></label>
        <div class="field">
          <%= f.text_field :site, class: "form-control" %>
        </div>
      </li>
      <li class="form-fields__group">
        <label for="freelancer_home_page"><%= t('phone') %></label>
        <div class="field">
          <%= f.text_field :phone, class: "form-control" %>
        </div>
      </li>
      <li class="form-fields__group">
        <label for="freelancer_home_page">Email</label>
        <div class="field">
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </li>
    </ul>
  </fieldset>
  <fieldset class="form-section">
    <legend class="form-section__title form-section__title_border"><%= t('i_have') %></legend>
    <div class="form-fields form-fields_reset_top">
      <div class="form-fields__group form-fields__group_ihave">
        <%= f.fields_for :links do |link| %>
          <%= render 'link_fields',  f: link %>
        <% end %>

        <%= link_to_add_association 'Add', f, :links, :data => {:"association-insertion-method" => "prepend"},
                                    class: "custom_icon link_add-field icon_add_field add_nested_fields", style: "padding-top:20px; height:55px" %>
      </div>
      <div class="form-fields__group2">
        <label class="checkbox checkbox_flat">
          <%= f.check_box :visible %>
          <span class="checkbox__label">
            Show my profile in the general list of freelancers
          </span>
        </label>
      </div>
    </div>
  </fieldset>

  <div class="form-fields__group_buttons">
    <%= button_tag 'Cancel', type: :reset, class: "btn_grey" %>
    <%= f.submit 'Publish', class: "btn_green" %>
  </div>
<% end %>
