<% if freelancer.visible %>
<li class='content-list__item'>
  <article class="user user_short">
    <figure class="user__avatar user__avatar_r50">
      <%= link_to freelancer_path(freelancer) do %>
        <%= avatar_for freelancer.photo %>
      <% end %>
    </figure>
    <div class="user__info">
      <header class="user-data">
        <div class="user-data__title">
          <%= link_to "#{freelancer.first_name} #{freelancer.last_name}", freelancer %>
          <div class="user-data__spec">
            <%= freelancer.specialization %>
          </div>
        </div>
        <div class="user__price" id="freelancer_status_7972">
          <span class="custom_icon icon_relative icon_free" title="Freelancer is free"></span>
            <span class="count"> from <%= freelancer.rate %> euro.<span class="suffix">for <%= freelancer.price_category %></span></span>

        </div>

      </header>
      <p class="user__description">
        <%= simple_format(freelancer.description) %>
      </p>
      <div id="modal-window"></div>
      <% for i in 0..2 %>
      <% if !freelancer.portfolios.offset(i).blank? %>
        <% flag = freelancer.portfolios.offset(i).last.id %>
        <% if current_user && freelancer.user_id == current_user.id %>
          <div class="portfolio" style="display:inline-flex; margin-top:0px">
            <div class="portfolio-items-show">
              <div class="preview-img-show">
                <div class="portfolio-menu-show">
                  <p>
                    <b><%= freelancer.portfolios.find(flag).title %></b>
                  </p>
                  <%= link_to "", watch_path(@portfolio, :id => freelancer.portfolios.find(flag).id), {:remote => true, 'data-target' => '#modal-window', class: "show-portfolio"}%>
                  <%= link_to '', edit_portfolio_path(@portfolio, :id => freelancer.portfolios.find(flag).id),  {:remote => true, 'data-target' => '#modal-window', class: "edit-portfolio"}  %>
                  <%= link_to "", portfolio_path(@portfolio, :id => freelancer.portfolios.find(flag).id), method: :delete, data: { confirm: 'Are you sure you want to delete this project?' }, class: "delete-portfolio"%>
                </div>
                <% if freelancer.portfolios.find(flag).documents.count !=0 %>
                  <div class="img_for_portfolio-show" style="background-image: url(<%= freelancer.portfolios.find(flag).documents.first.attachment.url %>)">
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% else %>
          <%= link_to watch_path(@portfolio, :id => freelancer.portfolios.find(flag).id), {:remote => true, 'data-target' => '#modal-window', class: "link-portfolio"} do%>
            <div class="portfolio" style="display:inline-flex; margin-top:0px">
              <div class="portfolio-items-show">
                <div class="preview-img-show">
                  <div class="portfolio-menu-show">
                    <p>
                      <b><%= freelancer.portfolios.find(flag).title %></b>
                    </p>
                    <%= simple_format truncate(freelancer.portfolios.find(flag).description, escape: false, length: 80) %>
                  </div>
                  <% if freelancer.portfolios.find(flag).documents.count !=0 %>
                    <div class="img_for_portfolio-show" style="background-image: url(<%= freelancer.portfolios.find(flag).documents.first.attachment.url %>)">
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      <% end %>
      <% end %>
      <div class="user__tags">
        <ul class="tags tags_short">
          <% freelancer.skill_counts.each do |skill| %>
            <li class="tags__item">
              <%= link_to skill.name, freelancer_skill_path(skill.name), class: "tags__item_link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </article>
</li>
<% end %>
