<div class="nested-fields">
  <div class="nested_container">
    <div class="_nested_box">
      <div class="form-control_select">
        <%= f.collection_select :messenger_type_id, MessengerType.all, :id, :title, {}, { class: "form-control" } %>
      </div>
      <div class="field_money" style="margin-left:20px; margin-right:20px">
        <%= f.text_field :url, class: "form-control" %>
      </div>
      <%= link_to_remove_association "Delete", f, class: 'custom_icon icon_remove_field' %>
    </div>
  </div>
</div>
