<div class="form_user-banner">
  <%= form_for @background, url: {controller: 'backgrounds', action: 'update'}, html: { class: "form_background" } do |a| %>
  <%= a.hidden_field :id, value: @background.id %>
  <div class="field user-banner_upload">
    <%= render partial: 'backgrounds/banner' %>
  </div>
      <div class="btn-group">
        <div class="btn_bordered btn_banner">
          <%= a.file_field :banner, required: true, name: "background[banner]" %>
          <span>Load banner</span>
        </div>
        <%= link_to "Remove", background_path(@background.id),
                    class: 'custom_icon control control_delete_rounded', remote: true, method: :delete, style: 'width:36px;' %>
      </div>
  <% end %>

  <%= form_for @photo, url: {controller: 'photos', action: 'update'},
               html: { class: "form_avatar" } do |f| %>
    <div class="field user-avatar_upload">
      <%= render partial: 'photos/photo' %>
    </div>
    <%= f.hidden_field :id, value: @photo.id %>
    <div class="btn-group_avatar">
      <div class="btn_bordered">
        <%= f.file_field :avatar, required: true, name: 'photo[avatar]' %>
        <span><%= t('load_avatar') %></span>
      </div>
      <%= link_to "Remove", photo_path(@photo.id),
                  class: 'custom_icon control control_delete_rounded', remote: true, method: :delete %>
    </div>
    <div class="form__description">Format: jpg, jpeg, gif, png.<br><%= t('max_size')%> 512kb.</div>
  <% end %>
</div>
