<% @freelancer.portfolios.each do |portfolio|%>
  <div class="portfolio">
    <div class="portfolio-items">
      <div class="preview-img">
        <div class="portfolio-menu">
          <h6>
            <%= portfolio.title %>
          </h6>
            <div class="portfolio-control">
              <!-- <a class="show-portfolio", id="myBtn" turbolinks="false"></a> -->
              <%= link_to "", watch_path(@portfolio, :id => portfolio.id), {:remote => true, 'data-target' => '#modal-window', class: "show-portfolio"}%>
              <%= link_to '', edit_portfolio_path(@portfolio, :id => portfolio.id),  {:remote => true, 'data-target' => '#modal-window', class: "edit-portfolio"}  %>
              <%= link_to "", portfolio_path(@portfolio, :id => portfolio.id), method: :delete, data: { confirm: 'Are you sure you want to delete this project?' }, class: "delete-portfolio"%>
            </div>
        </div>
        <% if portfolio.documents.count !=0 %>
          <div class="img_for_portfolio" style="background-image: url(<%= portfolio.documents.first.attachment.url %>)">

          </div>
        <% end %>

      </div>
    </div>
  </div>
<% end %>
