<%= header('Freelancers') %>
<% content_for(:before_main) { render 'shared/search' } %>

<ul class='content-list content-list_freelancers' id='freelancers_list'>
  <% if current_user.nil? %>
    <%= render "projects/require_auth" %>
  <% else %>
    <%= render @freelancers %>
  <% end %>  
</ul>

<div id='pagination'>
  <div class="pagination">
    <%= will_paginate @freelancers %>
  </div>
</div>

<% aside render('shared/menu_user_settings') %>
