<%= header(link_to "All freelancers", freelancers_path, class: "page-title_back") %>

<div class="user-profile profile-blocks">
  <%= render 'freelancers/info/short' %>

  <%= render 'freelancers/info/full' %>
</div>

<% aside render('shared/menu_user_settings') %>
