$dark_blue: #394656;
$darker_blue: #455565;
$light_grey: #B3BCC9;
$ghost_white: #edeef2;
$mid_green: #4abfb4;
$ghost_red: #ebcccc;
$red: #a94442;
$google: #de4c34;
$twitter: #45b0e3;
$facebook: #3b5998;
$flags: sprite-map("flags/*.png");

@import 'lib/normalize';
@import 'auth/global';
@import 'auth/logo';
@import 'auth/form';
