.custom_icon:before, .icon_pen:before {
  display:inline-block;
  visibility:visible;
  margin:0;
  padding:0;
  content:"";
  vertical-align:middle
}

.icon_settings_control, .control_settings_profile, .icon_delete_rounded, .control_delete_rounded {
  position:relative
}

.icon_relative, .icon_pen:before {
  position:relative;
  top:-2px;
  margin-right:15px;
  width:20px;
  height:20px
}

.icon_settings_control:before,.control_settings_profile:before {
  position:absolute;
  left:0;
  margin:-17px 0 0 -17px;
  width:34px;
  height:34px;
  background: image-url('icons/controls_icons.png') no-repeat -105px 0
}

.icon_pen:before {
  background: image-url('icons/mega_sprite.png') no-repeat -320px -80px
}
.icon_search{
  background: image-url('icons/magnifier.png') no-repeat
}

.icon_delete_rounded:before,.control_delete_rounded:before {
  position:absolute;
  left:0;
  margin:-17.5px 0 0 -17.5px;
  width:35px;
  height:35px;
  background: image-url('icons/controls_icons.png') no-repeat -70px 0
}

.icon_delete_rounded:hover:before,.control_delete_rounded:hover:before {
  background: image-url('icons/controls_icons.png') no-repeat -70px -35px
}
.icon_delete_rounded:active:before,.control_delete_rounded:active:before {
  background: image-url('icons/controls_icons.png') no-repeat -70px -70px
}

.icon_add_field {
  position:relative;
  overflow:hidden;
  width:35px;
  height:35px;
  text-indent:-999px;
  white-space:nowrap
}
.icon_add_field:before {
  position:absolute;
  left:0;
  margin:-17.5px 0 0 -17.5px;
  width:35px;
  height:35px;
  background: image-url('icons/controls_icons.png') no-repeat -420px 0
}
.icon_add_field:hover:before {
  background: image-url('icons/controls_icons.png') no-repeat -420px -35px
}
.icon_add_field:active:before {
  background: image-url('icons/controls_icons.png') no-repeat -420px -70px
}

.icon_remove_field {
  position:relative;
  overflow:hidden;
  width:35px;
  height:35px;
  text-indent:-999px;
  white-space:nowrap
}
.icon_remove_field:before {
  position:absolute;
  top:0%;
  left:0%;
  margin:-17.5px 0 0 -17.5px;
  width:35px;
  height:35px;
  background: image-url('icons/controls_icons.png') no-repeat -315px 0px
}
.icon_remove_field:hover:before {
  background: image-url('icons/controls_icons.png') no-repeat -315px -35px
}
.icon_remove_field:active:before {
  background: image-url('icons/controls_icons.png') no-repeat -315px -70px
}

.icon_free:before {
  top:0;
  margin-right:2px;
  background: image-url('icons/mega_sprite.png') no-repeat -360px 0
}
.user__price_profile .icon_free:before,.task__price .icon_free:before,.service__price .icon_free:before {
  top:2px;
  margin-right:5px;
  width:30px;
  height:30px;
  background: image-url('icons/mega_sprite.png') no-repeat -90px -100px
}

.icon_arrow_up:after,.menu_user-settings .menu__item_tree.menu_open:after {
background: image-url('icons/mega_sprite.png') no-repeat -160px -40px
}

.icon_arrow_down:after,.menu_user-settings .menu__item_tree:after {
background: image-url('icons/mega_sprite.png') no-repeat -180px -40px
}

.icon_search:before,.icon_pen:before,.icon_arrow_up:after,.menu_user-settings .menu__item_tree.menu_open:after,.icon_arrow_down:after,.menu_user-settings .menu__item_tree:after,.icon_arrow_left:before,.page-title_back:before,.icon_free:before,.icon_busy:before,.icon_locked:before,.icon_pin:before,.icon_done:before,.link_icon_done:before,.icon_settings:before,.icon_tasks:before,.icon_services:before,.icon_freelancers:before,.icon_favorites:before,.icon_billing:before,.icon_responses:before,.icon_settings_profile:before,.icon_settings_account:before,.icon_settings_notify:before,.icon_settings_private:before,.icon_settings_keys:before,.icon_settings_delivery:before,.icon_logout:before,.icon_acc_balance:before,.icon_acc_delivery:before,.icon_acc_profile:before,.icon_about:before,.icon_faq:before,.icon_feedback:before,.icon_changelog:before,.icon_agreement:before,.icon_offerta:before,.icon_qiwi:before,.icon_yandex:before,.icon_wm:before,.icon_tw:before,.icon_twitter:before,.icon_fb:before,.icon_facebook:before,.icon_vk:before,.icon_gp:before,.icon_complaint:before,.icon_profile_favorites:before,.icon_profile_views:before,.icon_task_views:before,.icon_pofile_performer:before,.icon_profile_questions:before,.icon_profile_answers:before,.icon_task_responses:before,.icon_profile_solutions:before,.icon_profile_karma:before,.icon_profile_rating:before,.icon_profile_stage:before,.icon_task_publish_at:before,.icon_edit_task:before,.icon_complete_task:before,.icon_delete_task:before {
    position:relative;
    top:-2px;
    margin-right:15px;
    width:20px;
    height:20px
}

.icon_search:before,.icon_pen:before,.icon_arrow_up:after,.menu_user-settings .menu__item_tree.menu_open:after,.icon_arrow_down:after,.menu_user-settings .menu__item_tree:after,.icon_arrow_left:before,.page-title_back:before,.icon_rss:before,.icon_free:before,.icon_banned:before,.icon_busy:before,.icon_locked:before,.icon_cash_small:before,.icon_cash:before,.icon_file_succed:before,.files-list__link:before,.icon_pin:before,.icon_done:before,.link_icon_done:before,.icon_cost:after,.subscribe-option__price .price_count:after,.table__cell_price .price:after,.orders__total .price:after,.icon_upload:before,.file-upload:before,.icon_category_select:before,.icon_add_field:before,.icon_add_fill:before,.ui-autocomplete .not_found_li a:before,.icon_remove_field:before,.icon_menu:before,.icon_notify:before,.icon_dashboard:before,.icon_settings:before,.icon_tasks:before,.icon_services:before,.icon_freelancers:before,.icon_favorites:before,.icon_billing:before,.icon_responses:before,.icon_settings_profile:before,.icon_settings_account:before,.icon_settings_notify:before,.icon_settings_private:before,.icon_settings_keys:before,.icon_settings_delivery:before,.icon_logout:before,.icon_acc_balance:before,.icon_acc_delivery:before,.icon_acc_profile:before,.icon_about:before,.icon_faq:before,.icon_feedback:before,.icon_changelog:before,.icon_agreement:before,.icon_offerta:before,.icon_qiwi:before,.icon_yandex:before,.icon_wm:before,.icon_visa:before,.icon_mastercard:before,.icon_individual:before,.icon_legal_entity:before,.icon_promocode:before,.icon_daily:before,.icon_never:before,.icon_instantly:before,.icon_pay_cards:before,.icon_pay_ym:before,.icon_pay_wm:before,.icon_pay_terminal:before,.icon_pay_other:before,.icon_pay_mpass:before,.icon_tw:before,.icon_twitter:before,.icon_fb:before,.icon_facebook:before,.icon_vk:before,.icon_gp:before,.icon_gh:before,.icon_tmid_button:before,.icon_complaint:before,.icon_profile_favorites:before,.icon_profile_views:before,.icon_task_views:before,.icon_pofile_performer:before,.icon_profile_questions:before,.icon_profile_answers:before,.icon_task_responses:before,.icon_profile_solutions:before,.icon_profile_karma:before,.icon_profile_rating:before,.icon_profile_stage:before,.icon_task_publish_at:before,.icon_edit_task:before,.icon_complete_task:before,.icon_delete_task:before,.icon_share_rounded:before,.dropdown__trigger_share:before,.icon_delete_rounded:before,.control_delete_rounded:before,.icon_settings_control:before,.control_settings_profile:before,.icon_share_control:before,.icon_done_control:before,.control_done_profile:before,.icon_reload:before,.icon_tmid:before,.icon_hantim_alert:before,.icon_confirm_popup:before,.icon_delivery_popup:before,.icon_anonym_popup:before,.icon_cancel_popup:before,.icon_upper_popup:before,.icon_close_dark:before,.pane__button_close:before,.icon_delete_big:before,.link_icon_delete:before,.icon_work_selected:before,.work_wrap input:checked+.work__select:before,.icon_load_more:before,.grid__item_more:before,.icon_load-more_mini:before,.link_more .link_dashed:before,.icon_publish_ntf:before,.icon_signin_ntf:before,.icon_delivery_ntf:before,.icon_remove:before,.files-list__delete:before,.icon_wizard_1:before,.icon_wizard_2:before,.icon_wizard_3:before {
    display:inline-block;
    visibility:visible;
    margin:0;
    padding:0;
    content:"";
    vertical-align:middle

}
.icon_settings_bordered:before{
  display:inline-block;
  visibility:visible;
  margin:0;
  padding:0;
  content:"";
  vertical-align:inherit;
}
.icon_fb{
  position:absolute;
  top:0%;
  left:0%;
  width:20px;
  height:20px;
  background: image-url('icons/socials_icons.png') no-repeat -7px -47px
}
.icon_tw{
  position:absolute;
  top:0%;
  left:0%;
  width:20px;
  height:20px;
  background: image-url('icons/socials_icons.png') no-repeat -97px -47px
}
.icon_facebook{
  width: 30%;
  height: auto;
  background: image-url('icons/social.png') no-repeat -22px -99px;
  background-size: 370px;
}
.icon_skype{
  width: 30%;
  height: auto;
  background: image-url('icons/social.png') no-repeat -96px -173px;
  background-size: 370px;
}
.icon_twitter{
  width: 30%;
  height: auto;
  background: image-url('icons/social.png') no-repeat -59px -99px;
  background-size: 370px;
}
.icon_github{
  width: 30%;
  height: auto;
  background: image-url('icons/social.png') no-repeat -170px -173px;
  background-size: 370px;
}
.icon_youtube{
  width: 30%;
  height: auto;
  background: image-url('icons/social.png') no-repeat -318px -99px;
  background-size: 370px;
}
.icon_linkedin{
  width: 30%;
  height: auto;
  background: image-url('icons/social.png') no-repeat -207px -99px;
  background-size: 370px;
}
.icon_whatsapp{
  width: 30%;
  height: auto;
  background: image-url('icons/whatsapp.png') no-repeat 1px -1px;
  background-size: 31px;
}
.icon_quora{
  width: 30%;
  height: auto;
  background: image-url('icons/social.png') no-repeat -318px -247px;
  background-size: 370px;
}
.icon_flickr{
  width: 30%;
  height: auto;
  background: image-url('icons/social.png') no-repeat -59px -136px;
  background-size: 370px;
}
.icon_website{
  width: 30%;
  height: auto;
  background: image-url('icons/social.png') no-repeat -170px -210px;
  background-size: 370px;
}
.icon_stackoverflow{
  width: 30%;
  height: auto;
  background: image-url('icons/stack-overflow.png') no-repeat 4px 3px;
  background-size: 22px;
}
.icon_facebookmessenger{
  width: 30%;
  height: auto;
  background: image-url('icons/messenger.png') no-repeat 4px 5px;
  background-size: 23px;
}
.icon_bitbucket{
  width: 30%;
  height: auto;
  background: image-url('icons/bitbucket.png') no-repeat 0px 0px;
  background-size: 30px;
}
.icon_foursquare{
  width: 30%;
  height: auto;
  background: image-url('icons/social.png') no-repeat -318px -137px;
  background-size: 370px;
}
.icon_messenger_facebookmessenger{
  background: image-url('icons/facebookmessenger.png') no-repeat 1px 1px;
  background-size: 35px;
  width: 35px;
  height: 35px;
}
.icon_messenger_whatsapp{
  background: image-url('icons/whatsapp.png') no-repeat 1px 1px;
  background-size: 35px;
}
.icon_messenger_skype{
  background: image-url('icons/social.png') no-repeat -127px -226px;
  background-size: 480px;
}
