<dl class='layout-block layout-block_categories'>
  <dt class='layout-block__title'>Categories</dt>
  <dd class='layout-block__content'>
    <ul class='category-group'>
      <!-- <%= render @categories %> -->
      <%= collection_check_boxes :project, :category, Category.all, :id, :name do |b| %>
        <%= b.label class: "checkbox checkbox_flat", remote: true do %>
          <%= b.check_box class: "select-checkbox", remote: true %>
            <span class="checkbox__label">
              <%= b.text %>
            </span>
        <% end %>
      <% end %>
    </form>
    </ul>
  </dd>
</dl>
<dl class='layout-block layout-block_subscribe'>
  <dt class='layout-block__title'>Newsletter</dt>
  <dd class='layout-block__content'>
    Apply for delivery of new orders in your inbox
    <div class='subscribe__button'>
      <% if user_signed_in? %>
        <%= link_to 'Subscribe', edit_subscriber_path(current_user.subscriber), class: "btn_red" %>
      <% else %>
        <%= link_to 'Subscribe', new_user_session_path, class: "btn_red" %>
      <% end %>
    </div>
    <div class='about2'>
      <strong>
        15200+
      </strong>
      freelancers follow the<br>new orders
    </div>
  </dd>
</dl>
