<li class='category-group__folder'>
  <div class='category-group__name checkbox_flat'>
    <div class='checkbox_pseudo js-checkbox_group'></div>
    <span class='link_dotted js-toggle'>
      <%= link_to category.name, projects_path(category: category)  %>
    </span>
  </div>
</li>
