<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= render 'shared/head' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body class="lang-<%= I18n.locale %>">

  <div class="lang-switch">
    <% if I18n.locale == :en %>
      <%= link_to 'DE', new_locale_path(locale: :de), class: 'flag de' %>
    <% else %>
      <%= link_to 'EN', new_locale_path(locale: :en), class: 'flag en' %>
    <% end %>
  </div>

  <% flash.each do |name, msg| -%>
  <div class="msg_container">
    <%= content_tag :div, msg, class: 'service__message', remote: true %>
  </div>
  <% end -%>
<div class="layout">
  <div class="layout-canvas" id="js-canvas">
    <%= render 'shared/layout_navbar' %>

    <main class='layout__body'>
      <div class='tablet-panel'>
        <button class='toggle-button' role='toggle_navbar' type='button'>Жмяк</button>
        <div class='logo_wrap'>
          <a class="logo" href="index.html">FLMarket DE</a>
        </div>
      </div>

      <%= yield :above_main %>

      <section class="column_wrap">
        <div class="column_main">
          <div class="page">

            <%= yield :before_main %>

            <div class="main-content">
              <%= yield %>
            </div>
          </div>
        </div>

        <%= yield :below_main %>
      </section>

    </main>
    <%= render 'shared/footer' %>
  </div>
</div>
</body>
</html>
