<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Rubik|Open+Sans" rel="stylesheet">
  <%= render 'shared/head' %>

  <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'devise', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="lang-switch">
  <% if I18n.locale == :en %>
    <%= link_to 'DE', new_locale_path(locale: :de), class: 'flag de' %>
  <% else %>
    <%= link_to 'EN', new_locale_path(locale: :en), class: 'flag en' %>
  <% end %>
</div>

<div class="layout">
  <%= link_to root_path, class: 'logo' do %>
    <h1 class="main-title">flmarkt.de</h1>
    <h2 class="sub-title">FreeLance Markt in Deutschland #1</h2>
  <% end %>

  <div class="block">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</div>
</body>
</html>
