<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport">
    <meta charset="utf-8">
  </head>
  <body bgcolor="white" style="background: #fff; border: 0; font-family: 'PT Sans', Helvetica Neue, Helvetica, Lucida Grande, tahoma, verdana, arial, sans-serif; margin: 0; padding: 20px 0 0; text-align: center">
  <div style="background: #fff">
    <table align="center" cellpadding="12" cellspacing="0" id="wrapper" style="border-collapse: collapse" width="624">
      <tr>
        <td>
          <div style="padding-bottom: 24px; padding-top: 24px">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%" width="100%">
              <tr>
                <td valign="top">
                  <div style="color: #383434; font-family: 'PT Sans', Helvetica Neue, Helvetica, Lucida Grande, tahoma, verdana, arial, sans-serif; font-size: 25px; font-weight: bold; line-height: 22px; padding-top: 2px; text-align: left" align="left">Flmarkt</div>
                  <div style="color: #9099a3; font-family: 'PT Sans', Helvetica Neue, Helvetica, Lucida Grande, tahoma, verdana, arial, sans-serif; font-size: 15px; line-height: 17px; padding-top: 9px; text-align: left" align="left">Market remote work for IT-Professionals</div>
                </td>
                <td style="width: 46px" valign="top" width="46">
                  <a border="0" style="border: 0; outline: 0; text-decoration: none" target="_blank" href="http://freelansim.ru/?utm_campaign=mainpage&amp;utm_content=logo&amp;utm_medium=email&amp;utm_source=newsletter"><img border="0" src="http://freelansim.ru/images/logo.png" style="border: 0; display: block; margin: 0; padding: 0">
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <div class="post" style="border-top-color: #f0f0f0; border-top-style: solid; border-top-width: 1px; padding: 0">
            <div style="font-family: 'PT Sans', Helvetica Neue, Helvetica, Lucida Grande, tahoma, verdana, arial, sans-serif; font-size: 15px; line-height: 1.5em; padding: 15px 0 5px; text-align: left" align="left">
              <p>Hello, <%= @freelancer.first_name %></p>
              <p>You have been chosen as an performer on the project:</p>
              <br>
              <div class="post" style="border-bottom-color: #000; border-bottom-style: solid; border-bottom-width: 2px; border-top-color: #000; border-top-style: solid; border-top-width: 2px">
                <div class="post" style="border-bottom-color: #f0f0f0; border-bottom-style: solid; border-bottom-width: 1px; padding: 22px 0 20px">
                  <div class="title" style="padding-bottom: 8px; text-align: left" align="left">
                    <%= link_to @project.title, project_url(@project), style: "color: #383434; font-family: 'PT Sans', Helvetica Neue, Helvetica, Lucida Grande, tahoma, verdana, arial, sans-serif; font-size: 19px; font-weight: bold; line-height: 24px; text-align: left; text-decoration: none"  %>
                  </div>
                </div>
              </div>
  
              <p style="border-top-color: #f0f0f0; border-top-style: solid; border-top-width: 1px; margin: 0; padding-top: 20px">
                With best regards, the team <%= link_to "flmarkt", "https://freelance-de-dborovsky1.c9users.io" %>
                <br>
                <br>
                This mail has been generated automatically, please do not reply to it.
              </p>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  </body>
</html>